*.log
*.log
*.log
/wp-content/uploads/wc-logs
/.idea
.idea/php.xml
.idea/public.iml
/wp-content/uploads/wc-logs
/.idea
/.tmb
/logs
/wp-content/plugins/google-listings-and-ads
public_html/cron-log.txt
public_html/directory_state.json
public_html/directory_state.json
TEMP/01bd141e-a61a-47b8-9010-3437b6b65132.jpeg
/wp-content/wp-content/plugins/google-listings-and-ads
/wp-content/backups-dup-lite
/.idea
/FTP_EXCHANGE
/wp-content/themes/anyweb_theme/.idea
/.idea
/.vscode
