*.log
*.log
*.log
/wp-content/uploads/wc-logs
/.idea
.idea/php.xml
.idea/public.iml
/wp-content/uploads/wc-logs
/.idea
/.tmb
/logs
/wp-content/plugins/google-listings-and-ads
public_html/cron-log.txt
public_html/directory_state.json
public_html/directory_state.json
