.top-banner {
  text-align: center;
  padding: 10px 0 12px;
  min-height: 54px;
  position: relative;
  color: var(--aw-white);
  background: url(../image/banner-top.jpg) 50% 100% repeat-x var(--aw-orange);
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;

  a {
    color: var(--aw-white);
    text-transform: none;
  }
}

.top-banner-text {
  display: inline-block;
  vertical-align: bottom;
}

.bx-incbanners {
  margin: 10px 0 25px;
  text-align: center;
}

.bx-banners {
  margin: 10px 0;

  .bx-block-title {
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: var(--aw-gray);
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 9px;
    font-weight: 600;
  }
}

@media (max-width: 991px) {
  .top-banner {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 202;
    height: 56px;
  }

  .top-banner-text-holder {
    height: 40px;
    overflow: hidden;
  }

  .is-banner {
    .workarea {
      padding-top: 130px;
    }

    .header-bottom {
      margin-top: 145px;
    }
  }

  .top-banner-text {
    vertical-align: middle;
  }
}

@media (max-width: 640px) {
  .top-banner {
    font-size: 16px;
    padding: 6px 0 12px;
    height: 60px;
  }

  .top-banner-text-big {
    display: inline-block;
    width: 100%;
  }

}