* {
  box-sizing: border-box;
  outline: transparent none 0;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent !important;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent !important;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, .3) !important;
    }
  }
}

body {
  background: url('../image/bg-body.svg') repeat 50% 0;
  width: 100vw;
  min-height: 100vh;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  font-family: var(--fm-base);
  font-weight: var(--fw-base);
  font-size: var(--fs-base);
   overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
}

ul {
  margin: unset;
  padding: unset;
}

li {
  list-style: none;
}

svg {
  width: 100%;
  height: 100%;
}

button {
  border: unset;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--fm-heading);
  font-weight: 500;
  margin-bottom: 0;
  padding-bottom: 0;
}

h6 {
  font-family: var(--fm-medium);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0;
  vertical-align: middle;

}

p {
  font-family: var(--fm-base);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  padding-bottom: 0;

  a {
    color: inherit;
  }
}

a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease,
  border-color 0.3s ease;
  -moz-transition: color 0.3s ease, background-color 0.3s ease,
  border-color 0.3s ease;
  -ms-transition: color 0.3s ease, background-color 0.3s ease,
  border-color 0.3s ease;
  -o-transition: color 0.3s ease, background-color 0.3s ease,
  border-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease,
  border-color 0.3s ease;

  &:hover {
    color: inherit;
  }

  &:active,
  &:focus,
  &:hover {
    border-color: transparent;
    text-decoration: none;
  }
}

.opacity-8 {
  opacity: 0.8;
}

.color-blue {
  color: var(--brand-green-prymary);
}

.color-orange {
  color: var(--brand-orange);
}

.color-white {
  color: var(--color-white);
}

.site-main {
 position: relative;
}

main {
  padding-bottom: 132px;

  @include down(#{$bp-xs}) {
    padding-bottom: 25px;
  }

  & > .section {
    position: relative;
  }
}

.main-page {
  position: relative;
  padding-top: 100px;
  @include flex-column;
  gap: 132px;

  @include down(#{$bp-xs}) {
    padding-top: 88px;
    gap: 88px;
  }
}

.body-mask {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 500;

  &.opened {
   display: block;
    position: absolute;
    top: 0;
  }
}

#woosw_wishlist {
  display: none !important;
  visibility: unset !important;
}

.pr-info {
  position: absolute;
  right: 25px;
  top: 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 200;

  @include down(#{$bp-xs}) {
    right: 10px;
  }
}

.pr-info-new {
  position: absolute;
  right: 0;
  top: -20px;
  display: block;
  width: 100%;
  min-height: 65px;

  //&:not(:has(> :nth-child(2))) {
  //  .sale_book {
  //    top: 0;
  //  }
  //
  //  .new_book {
  //    top: 0;
  //    right: 16px;
  //  }
  //}
}

.preorder-book {
  position: absolute;
  top: -30px;
  left: -9px;
  background: url('../image/preorder-label.svg') no-repeat center;
  background-size: contain;
  width: 126px;
  height: 126px;

  @include down(#{$bp-xs}) {
    width: 80px;
    height: 80px;
    top: -25px;
    left: -5px;
  }
}

.new_book {
  position: absolute;
  right: 62px;
  bottom: 22px;
  background: url('../image/new.svg') no-repeat center;
  background-size: contain;
  float: none;
  width: 67px;
  height: 57px;
  z-index: 100;
  margin-bottom: -15px;
  @include flex-center;

  @include down(#{$bp-xs}) {
    width: 40px;
    height: 40px;
    top: 0;
    right: 40px;
    bottom: auto;
  }
}

.sale_book {
  position: absolute;
  top: 23px;
  right: 16px;
  background: url('../image/bg-discount.svg') no-repeat center;
  background-size: contain;
  float: none;
  width: 55px;
  height: 48px;
  text-align: center;
  color: var(--color-white);
  z-index: 999;
  font-family: var(--fm-heading);
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
  @include flex-center;

  @include down(#{$bp-xs}) {
    width: 38px;
    height: 34px;
    font-size: 22px;
  }
}

.percent {
  color: var(--color-white);
  z-index: 999;
  font-family: var(--fm-heading);
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;

  @include down(#{$bp-xs}) {
    font-size: 22px;
  }
}

.vidosik {
  font-family: var(--fm-heading);
  font-weight: normal;
  color: white;
  background-image: url('../image/cloud-big_new.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  line-height: 21px;
  text-align: center;
  padding: 15px;
  width: 160px;
}

.anm-lady {
  position: absolute;
  width: 43px;
  height: 46px;
  background: url("../image/сонечко.svg") no-repeat center;
  background-size: contain;
  top: -67px;
  left: 353px;
  @include flex-center;
  z-index: 100;

  @include down(#{$bp-xxl}) {
    left: 25%;
  }

  @include down(#{$bp-xs}) {
    left: 61px;
  }
}

.btn-up {
  width: 40px;
  height: 40px;
  @include flex-center;
  background: url("../image/button-up-gray.svg") no-repeat;
  background-size: cover;
  z-index: 1000;
  position: fixed;
  bottom: 20px;
  right: 20px;

  &:hover {
    background: url("../image/button-up-black.svg") no-repeat;
    background-size: cover;
  }

  .fixed {
    opacity: 1;
    pointer-events: auto;
  }

}

/**/
.bg-primary {
  background: #60aadb !important;
  color: #fff;
}

.bg-success {
  background: #64ba4e !important;
  color: #fff;
}

.bg-info {
  background: #9bc6dd !important;
  color: #fff;
}

.bg-warning {
  background: #fec139 !important;
  color: #fff;
}

.bg-danger {
}

.text-normal {
  text-transform: none;
}

.flex-two-column {
  display: flex;
  justify-content: center;
}

.preparing-wrap {
  position: relative;
  background-image: url('../image/stroke-preparing.png');
  background-size: 100% calc(100% - 35px);
  background-repeat: no-repeat;
  background-position: center bottom;
  @include flex-center;

  @include down(#{$bp-xlg}) {
    background-image: unset;
  }

  @include down(#{$bp-md}) {
    background: unset;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
  }

  &::before {
    content: '';
    background: url("../image/preparing-dog.png") no-repeat center;
    background-size: contain;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 551px;
    bottom: 0;
    @include flex-center;

    @include down(#{$bp-xl}) {
      width: 180px;
      height: 180px;
      left: 451px;
    }

    @include down(#{$bp-xlg}) {
      display: none;
    }
  }

  &::after {
    content: '';
    background: url("../image/preparing-fox.png") no-repeat center;
    background-size: contain;
    width: 300px;
    height: 300px;
    position: absolute;
    right: calc((100% - 1440px) / 2 + 42px);
    bottom: 12px;
    @include flex-center;

    @include down(#{$bp-xl}) {
      width: 250px;
      height: 250px;
      right: calc((100% - 1280px) / 2 + 23px);
    }

    @include down(#{$bp-xlg}) {
      width: 200px;
      height: 200px;
      right: calc((100% - 1100px) / 2 + 23px);
    }

    @include down(#{$bp-md}) {
      display: none;
    }
  }

  h2 {
    font-family: var(--fm-heading);
    font-weight: 400;
    font-size: 70px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    position: relative;
    overflow-wrap: break-word; /* Розриває занадто довгі слова, якщо вони не вміщаються */
    word-wrap: break-word;     /* Застарілий синтаксис для сумісності зі старими браузерами */
    word-break: normal;

    @include down(#{$bp-lg}) {
      margin: 0 50px;
      horiz-align: center;
      top: 0;
    }

    @include down(#{$bp-xs}) {
      font-size: 42px;
      line-height: 32px;
      horiz-align: center;
    }
  }

  .preparing-container {
    position: relative;
    gap: 30px;
    padding-bottom: 45px;

    @include down(#{$bp-xlg}) {
      top: 0;
      gap: 40px;
      padding-bottom: 0;
    }
  }

  .flex-two-column {
    justify-content: unset;
    position: relative;
    padding-left: 87px;

    @include down(#{$bp-xlg}) {
      top: 0;
      padding-left: 0;
      padding-bottom: 0;
    }
  }

  .bg-preparing-wrap {
    display: none;

    @include down(#{$bp-xlg}) {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 30%;
      height: 25px;
      overflow: hidden;
      background: url('../image/stroke-preparing-bottom-line.png') no-repeat bottom right;
      background-size: cover;
    }

    @include down(#{$bp-md}) {
      display: none;
    }
  }

  .arrow-preparing-up {
    width: 78px;
    height: 117px;
    background: url("../image/preparing-arrow-red.svg") no-repeat center;
    background-size: contain;
    position: absolute;
    right: 344px;
    bottom: 24px;

    @include down(#{$bp-xl}) {
      right: 250px;
    }

    @include down(#{$bp-xlg}) {
      display: none;
    }
  }
}

.arrow-point-right {
  width: 190px;
  height: 86px;
  background: url("../image/preparing-arrow-green.svg") no-repeat center;
  background-size: contain;
  position: absolute;
  left: calc(100% + 16px);
  top: 340px;

  @include down(#{$bp-xlg}) {
    width: 120px;
    height: 120px;
    right: -40%;
  }

  @include down(#{$bp-lg}) {
    display: none;

  }
}

.preparing-container {
  padding-top: 0;
  @include flex-column;

  &.recommendations {
    padding-top: 0;
    padding-bottom: 30px;

    &::before,
    &::after {
      content: unset;
    }

    @include down(#{$bp-lg}) {
      padding-bottom: 0;
      padding-left: 0;
    }

    @include down(#{$bp-xxs}) {
      margin-top: 0;
    }
  }

  @include down(#{$bp-sm}) {
    padding-bottom: 0;
  }

  &::before,
  &::after {
    content: unset;
  }

  .flex-two-column {
    gap: 225px;

    @include down(#{$bp-xl}) {
      gap: 150px;
    }

    @include down(#{$bp-lg}) {
      justify-content: space-evenly;
      gap: unset;
      top: unset;
    }

    @include down(#{$bp-xmd}) {
      padding-bottom: 0;
    }

    @include down(#{$bp-sm}) {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  }

  .column {
    position: relative;
    max-width: fit-content;

    @include down(#{$bp-sm}) {
      @include flex-center;
      width: 100%;
    }
  }

  .column-auto {
    @include flex-column;
    align-items: center;
    justify-content: start;
    gap: 12px;
    flex: 1;
    max-width: 450px;
    margin-top: 40px;

    @include down(#{$bp-md}) {
      margin-top: 0;
    }
  }

  h3 {
    font-family: var(--fm-heading);
    font-weight: 400;
    font-size: 54px;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--brand-orange);

    @include down(#{$bp-sm}) {
      font-size: 34px;
    }
  }

  .item {
    @include down(#{$bp-sm}) {
      margin-top: 0;
    }
  }
}

.preorder-red-stroke {
  background: url("../image/preparing-red-stroke.svg") no-repeat center;
  background-size: 100% 100%;
  width: 383px;
  padding: 5px;

  @include down(#{$bp-md}) {
    background: url("../image/preparing-red-stroke.png") no-repeat center;
    background-size: 100% 100%;
    width: 309px;
  }

  .animation-stroke {
    background: url("../image/animation-stroke.gif") no-repeat center;
    background-size: 100% 100%;
    margin: 10px;
    padding: 2px;
  }
}

.preorder-text {
  font-family: var(--fm-bold);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--color-base);
  @include flex-column;
  gap: 6px;
  margin: 30px;

  @include down(#{$bp-sm}) {
    font-size: 16px;
  }


  span {
    display: block;
  }

  .color-blue,
  .color-orange {
    font-size: 21px;
  }

}

.preparing-timer {
  background: url("../image/bg-preparing-timer.svg") no-repeat center;
  background-size: 100% 100%;
  font-family: var(--fm-bold);
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  width: 405px;
  height: 92px;
  @include flex-column;
  align-items: center;
  justify-content: center;

  @include down(#{$bp-md}) {
    width: 309px;
  }

  @include down(#{$bp-sm}) {
    font-size: 16px;
  }

  span {
    display: block;
  }
}

.fox-display {
  .slick-track {
    min-width: 1088px;
    @include flex-evenly-start-align;

    @include down(#{$bp-xl}) {
      min-width: unset;
    }
  }

  &::after {
    content: '';
    background: url("../image/preparing-fox.png") no-repeat center;
    background-size: contain;
    width: 300px;
    height: 300px;
    position: absolute;
    right: calc((100% - 1440px) / 2 + 23px);
    bottom: 10px;
    @include flex-center;

    @include down(#{$bp-xl}) {
      width: 250px;
      height: 250px;
      right: calc((100% - 1280px) / 2 + 23px);
    }

    @include down(#{$bp-xlg}) {
      width: 200px;
      height: 200px;
      right: calc((100% - 960px) / 2 + 23px);
    }

    @include down(#{$bp-lg}) {
      display: none;
    }
  }
}

.favorite_categories {
  @include flex-column;
  align-items: center;
  gap: 44px;

  @include down(#{$bp-lg}) {
    gap: 40px;
  }

  @include down(#{$bp-xs}) {
    .button-to-buy {
      display: none;
    }
  }

  h2 {
    font-family: var(--fm-heading);
    font-weight: 400;
    font-size: 70px;
    line-height: 75px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    position: relative;
    overflow-wrap: break-word; /* Розриває занадто довгі слова, якщо вони не вміщаються */
    word-wrap: break-word;     /* Застарілий синтаксис для сумісності зі старими браузерами */
    word-break: normal;

    @include down(#{$bp-xs}) {
      font-size: 42px;
      line-height: 32px;
      horiz-align: center;
    }
  }

  .flex-evenly-start-align {
    flex-wrap: wrap;
    row-gap: 60px;
    //column-gap: 25px;

    @include down(#{$bp-lg}) {
      row-gap: 40px;
      column-gap: 18px;
    }
  }
}
