* {
  box-sizing: border-box;
  outline: transparent none 0;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent !important;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent !important;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, .3) !important;
    }
  }
}

body {
  background: url('../image/bg-body.jpg') 50% 0;
  width: 100vw;
  min-height: 100vh;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  font-family: var(--fm-base);
  font-weight: var(--fw-base);
  font-size: var(--fs-base);
   overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

ul {
  margin: unset;
  padding: unset;
}

li {
  list-style: none;
}

svg {
  width: 100%;
  height: 100%;
}

button {
  border: unset;
}

a {
  -webkit-transition: color 0.3s ease, background-color 0.3s ease,
  border-color 0.3s ease;
  -moz-transition: color 0.3s ease, background-color 0.3s ease,
  border-color 0.3s ease;
  -ms-transition: color 0.3s ease, background-color 0.3s ease,
  border-color 0.3s ease;
  -o-transition: color 0.3s ease, background-color 0.3s ease,
  border-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease,
  border-color 0.3s ease;
}

.color-blue {
  color: var(--brand-green-prymary);
}

.color-orange {
  color: var(--brand-orange);
}

.section {
  margin: 100px 0;
}

.pr-info {
  position: absolute;
  right: 15px;
  top: 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sale_book {
  background: url('../image/bg-discount.svg') no-repeat center;
  background-size: contain;
  float: none;
  width: 55px;
  height: 55px;
  text-align: center;
  color: var(--color-white);
  z-index: 999;
  font-family: var(--fm-heading);
  font-size: 32px;
  font-weight: 500;
  line-height: 120%;
  @include flex-center;
}

.percent {
  color: var(--color-white);
  z-index: 999;
  font-family: var(--fm-heading);
  font-size: 32px;
  line-height: 120%;
}

.vidosik {
  font-family: var(--fm-heading);
  font-weight: normal;
  color: white;
  background-image: url(../image/cloud-big_new.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  line-height: 21px;
  text-align: center;
  padding: 15px;
}