.bx-breadcrumb {
  margin: 30px 0 10px;

  .bx-breadcrumb-item {
    float: left;
    margin-bottom: 10px;
    white-space: nowrap;
    line-height: 13px;
    vertical-align: middle;

    a {
      border-bottom: 0;

      span {
        display: inline-block;
        vertical-align: middle;
        border-bottom: 1px solid var(--aw-link-border-bottom);
        transition: all 0.3s;
        font: 14px/17px fregatregular, sans-serif;
        color: var(--aw-black);

        &:first-letter {
          text-transform: uppercase;
        }
      }

      &:hover {
        span {
          border-color: transparent;
          color: var(--aw-link-color);
        }
      }
    }

    span {
      display: inline-block;
      vertical-align: middle;
      font: 14px/17px fregatregular, sans-serif;
      color: var(--aw-gray);

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }

  .fa-angle-right {
    &:before {
      display: none;
    }
  }

  i {
    background: url(../image/icons-sprite.png) -36px -229px no-repeat;
    width: 6px;
    height: 10px;
    color: var(--aw-grey);
    line-height: 13px;
    font-size: 12px;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.bx-breadcrumb-item {
  a {
    color: var(--aw-gray-price);
    margin-right: 10px;

    &:hover {
      color: var(--aw-black);
    }
  }
}

@media (max-width: 767px) {
  .bx-breadcrumb-mobile {
    .bx-breadcrumb-item {
      display: none;

      &:nth-last-child(3) {
        display: inline-flex;
        align-items: center;
      }
    }

    #breadcrumb-mobile {
      &.bx-breadcrumb-item {
        display: inline-flex;
        align-items: center;
      }
    }

    #bx_breadcrumb_0 {
      &.bx-breadcrumb-item {
        display: inline-flex;
        align-items: center;
      }
    }
  }

  #breadcrumb-mobile {
    span {
      cursor: pointer;
      display: inline-flex;
      padding: 0 5px;
    }
  }

  #navigation {
    .bx-breadcrumb {
      display: flex;
      flex-wrap: wrap;
      margin-top: 35px;
      align-items: center;
    }
  }
}

@media (max-width: 640px) {
  #navigation {
    .bx-breadcrumb {
      margin: 10px 0 5px;
    }
  }
}