form {
  margin-bottom: unset;
}

textarea {
  display: block;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  font-size: 18px;
  min-height: 150px;
  max-height: 450px;
  margin: 0;
  padding: 0 4px;
  border: 1px solid #ccd5db;
  border-radius: 2px;
  background: #f8fafc;
  outline: 0;
}

input[type="password"],
input[type="text"] {
  margin: inherit 4px;
  padding: 0 4px;
  border: 1px solid #ccd5db;
  border-radius: 2px;
  background: #f8fafc;
  outline: 0;
}

input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}


input[type="checkbox"] + a:before,
input[type="checkbox"] + span:before,
input[type="radio"] + span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background: url('../image/checkbox.svg') no-repeat;
}

input[type="checkbox"]:checked + a:before,
input[type="checkbox"]:checked + span:before {
  background: url('../image/mingcute_check-fill.svg') no-repeat;
}

.checkbox label input[type="checkbox"] + a,
.checkbox label input[type="checkbox"] + span,
.radio label input[type="radio"] + span {
  padding: 0 0 0 10px;
}

.checkbox label input[type="checkbox"] + a:before,
.checkbox label input[type="checkbox"] + span:before {
  left: -16px;
}