textarea {
  display: block;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  font-size: 18px;
  min-height: 150px;
  max-height: 450px;
  margin: 0;
  padding: 0 4px;
  border: 1px solid #ccd5db;
  border-radius: 2px;
  background: #f8fafc;
  outline: 0;
}

input[type="password"],
input[type="text"] {
  margin: inherit 4px;
  padding: 0 4px;
  border: 1px solid #ccd5db;
  border-radius: 2px;
  background: #f8fafc;
  outline: 0;
}