.header-top {
  padding: 13px 0;
  background: url(../image/bg-header-t.png) 50% 100% no-repeat;
  //min-height: 131px;

  & > .container {
    & > .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      flex-wrap: nowrap;
      padding-bottom: 10px;
    }
  }

  .header-top-l {
    .socials {
      float: left;
      width: 126px;
      margin: 0 15px 0 0;
    }
  }

//  .bx-socialsidebar {
//    margin: 0;
//  }
//
//  .bx-socialsidebar-group {
//    & > ul {
//      background: url(../image/socials-sprite.png) 0 -36px repeat-x;
//      height: 36px;
//      position: relative;
//      margin: 0 18px;
//      display: flex;
//      align-items: center;
//      justify-content: space-between;
//      width: 90px;
//
//      &:before {
//        content: "";
//        position: absolute;
//        left: -18px;
//        top: 0;
//        background: url(../image/socials-sprite.png) no-repeat;
//        width: 18px;
//        height: 36px;
//      }
//
//      &:after {
//        content: "";
//        position: absolute;
//        right: -18px;
//        top: 0;
//        background: url(../image/socials-sprite.png) 100% -72px no-repeat;
//        width: 18px;
//        height: 36px;
//      }
//
//      li {
//        width: 18px;
//        height: 16px;
//        margin: 0;
//      }
//
//      a {
//        width: 18px;
//        height: 16px;
//        background: url(../image/social-icons.png) no-repeat;
//        opacity: 0.8;
//        transition: opacity 0.3s;
//
//        &.fb {
//          background-position: 0 0;
//
//          &:hover {
//            background-position: 0 -16px;
//          }
//        }
//
//        &.vk {
//          background-position: -25px 0;
//
//          &:hover {
//            background-position: -25px -16px;
//          }
//        }
//
//        &.tw {
//          background-position: -62px 0;
//
//          &:hover {
//            background-position: -62px -16px;
//          }
//        }
//
//        &.in {
//          background-position: -95px 0;
//
//          &:hover {
//            background-position: -95px -16px;
//          }
//        }
//
//        &:hover {
//          opacity: 1;
//          background: url(../image/social-icons-active.png) no-repeat;
//        }
//      }
//    }
//  }

  .bx-inc-orginfo-phone {
    display: flex;
    align-items: center;
    font-weight: 400;
  }

//  .callback {
//    position: relative;
//    z-index: 5;
//    text-align: center;
//  }
//
}

.header-top-l {
  width: calc(50% - 120px);
  display: flex;
  align-items: center;
  padding: 0;
}

.price_list {
  text-align: center;
  padding: 5px;
}

.socials-row {
  .price_list {
    text-align: left;
    padding: 12px 5px 5px 15px;
    color: var(--aw-white);
    background: url(../image/socials-sprite_white.png) 0 -36px repeat-x;
  }

  .price_list_link {
    &:before {
      background: url(../image/socials-sprite_white.png) no-repeat;
    }

    &:after {
      background: url(../image/socials-sprite_white.png) 100% -72px no-repeat;
    }
  }
}

.price_list_link {
  background: url(../image/socials-sprite.png) 0 -36px repeat-x;
  height: 36px;
  display: inline-flex;
  align-items: center;
  position: relative;
  color: var(--aw-black);
  font-size: 16px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    width: 18px;
    height: 36px;
    left: -18px;
    background: url(../image/socials-sprite.png) no-repeat;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    width: 18px;
    height: 36px;
    right: -18px;
    background: url(../image/socials-sprite.png) 100% -72px no-repeat;
  }

  &:hover {
    background: url("../image/links-sprite-active-bgremover.png") repeat-x 0 -37px;

    &:before {
      background: url("../image/links-sprite-active-bgremover.png") no-repeat 0 0;
    }

    &:after {
      background: url("../image/links-sprite-active-bgremover.png") no-repeat 100% -74px;
    }
  }
}

.header-center {
  background: var(--aw-blue);
  position: relative;
  width: 100%;
  padding: 0 0 11px;

  &:before {
    content: "";
    width: 100%;
    height: 16px;
    background: url(../image/bg-header-center-t.png) 50% 0 repeat-x;
    position: absolute;
    left: 0;
    top: -16px;
  }

  &:after {
    content: "";
    width: 100%;
  }

  & > .container {
    & > .row {
      margin: 0;
    }
  }
}

.header-top-r {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 1;
  gap: 15px;

  .bx-hdr-profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
  }

  .bx-basket-block:not(.search-mobile) {
    color: var(--aw-black);
    font: 16px/19px fregatregular, sans-serif;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: var(--aw-black);
      border-bottom: 0;
    }

  }

  .basket-holder {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
    width: 215px;
  }

  .bx-basket {
    position: relative;
    z-index: 2;
  }

  .fa-shopping-cart {
    width: 36px;
    height: 36px;
    position: relative;

    &:after,
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      display: inline-block;
    }

    &:before {
      background: url(../image/cart_header.png) center no-repeat;
      background-size: 25px auto;
    }

    &:after {
      background: url(../image/cart_around.png) no-repeat;
      background-size: cover;
      transition: transform 0.5s;
    }

    &:hover {
      &:after {
        transform: rotate(180deg);
      }
    }

    & +  a {
      font-family: fregatbold, sans-serif;

    }
  }
}

.header-bottom {
  background: var(--aw-header-bg);
  position: relative;
  margin: 0 0 90px;

  &:before {
    content: "";
    background: url(../image/bg-main-slider-b.png) 50% 100% repeat-x;
    height: 87px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -87px;
  }
}

.header-checkout {
  background: var(--aw-white);

  .price_list {
    text-align: right;
  }

  .price_list_link {
    width: 230px;
    display: inline-flex;
    justify-content: center;
  }

  .header-top {
    background: var(--aw-white);
  }
}

/*******************/

.icon-box {
  display: flex;
  align-items: center;
  position: relative;
  width: 36px;
  height: 36px;
  margin-left: 5px;
}

.price_list-mobile {
  display: none;
}

/******** bx  *****/

.bx-header {
  position: relative;
  width: 100%;
  z-index: 201;

  .phones {
    font: 31px/32px pf_playskool_proregular;
    margin-right: 15px;
  }

  .phone {
    & + .phone {
      margin-top: -4px;
    }

    a {
      color: var(--aw-black);
    }
  }

  .phones-block {
    float: left;
  }

  .login-block {
    display: flex;
    align-items: center;
    position: relative;

    a {
      font: 15px/18px fregatregular, sans-serif;
      margin: 0;
      border-bottom: 1px solid var(--aw-link-border-bottom) !important;
      transition: opacity 0.3s;

      &:hover {
        border-color: transparent;
      }
    }

    .login-menu {
      a {
        &:hover {
          color: var(--aw-orange);
        }
      }
    }

    .login-dropdown {
          background: url(../image/bg-login.png) no-repeat;
          width: 384px;
          height: 430px;
          position: absolute;
          left: 50%;
          top: 44px;
          margin: 0 0 0 -178px;
          visibility: hidden;
          opacity: 0;
          z-index: -1;
          transition: all 0.3s;
          padding: 50px 47px 15px;

          &.login-menu {
            background: url(../image/bg-login-in.png) no-repeat;
            width: 190px;
            height: 224px;
            margin-left: -68px;
            padding: 41px 40px 15px;
          }
        }

    .login-list {
          margin: 0 0 8px;
          padding: 0;
          list-style: none;
          border-bottom: 1px solid var(--aw-link-border-bottom);
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 120px;
          overflow: hidden;

          li {
            margin: 0 0 9px;
          }
        }

    &.opened {
          .login-dropdown {
            visibility: visible;
            opacity: 1;
            z-index: 5;
          }
        }

    .callback-link {
        color: var(--aw-white);
        font: 15px/18px fregatregular, sans-serif;
        border-bottom: 1px solid var(--aw-border-bottom-color);
        margin: 5px 0 0;
        display: inline-block;

        &:hover {
          border-color: transparent;
        }
      }
  }
}

.bx-header-section {
  width: 100%;
}

.bx-logo {
  margin: 0 5px 0 10px;
  width: 221px;
  min-width: 221px;

  .bx-logo-block {
    display: block;
    height: 72px;
    border-bottom: none;

    img {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
  }
}

//.bx-logo-text {
//  font-size: 32px;
//  font-weight: 700;
//  color: var(--aw-black);
//  line-height: 37px;
//  text-decoration: none;
//  border: none;
//  vertical-align: bottom;
//  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
//
//  &:active,
//  &:hover {
//    font-size: 32px;
//    font-weight: 700;
//    color: var(--aw-black);
//    line-height: 37px;
//    text-decoration: none;
//    border: none;
//    vertical-align: bottom;
//    font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
//  }
//
//  small {
//    font-size: 37px;
//  }
//}
//
//.bx-logo-desc {
//  display: block;
//  font-weight: 700;
//  font-size: 13px;
//  line-height: 10px;
//  color: var(--aw-gray-label);
//  text-transform: uppercase;
//}
//
//.bx-video {
//  margin: 10px 3px 0 0;
//
//  .bx-input-group {
//    .bx-form-control {
//      display: none;
//      background: 0 0;
//      border: 0;
//      border-bottom: 2px solid var(--aw-white);
//      height: 39px;
//    }
//  }
//
//  .bx-input-group-btn {
//    display: block;
//    position: relative;
//    top: 4px;
//    width: auto;
//
//    button {
//      &:before {
//        background: url(../image/bx-video.svg) center no-repeat !important;
//      }
//    }
//
//    a {
//      width: 69px;
//      height: 69px;
//      z-index: 1;
//      transition: none;
//      position: relative;
//      background: 0 0;
//      display: inline-block;
//
//      &:active {
//        background: 0 0;
//      }
//
//      &:hover {
//        background: 0 0;
//
//        &:after {
//          transform: rotate(180deg);
//          -ms-transform: rotate(180deg);
//          -webkit-transform: rotate(180deg);
//        }
//      }
//
//      &:after {
//        content: "";
//        background: url(../image/search_around.png) no-repeat;
//        position: absolute;
//        display: inline-block;
//        width: 100%;
//        height: 100%;
//        top: 0;
//        left: 0;
//        -webkit-transition: -webkit-transform 0.5s ease-in-out;
//        -ms-transition: -ms-transform 0.5s ease-in-out;
//        transition: transform 0.5s ease-in-out;
//      }
//
//      &:before {
//        content: "";
//        background: url(../image/cam.png) center no-repeat;
//        position: absolute;
//        display: inline-block;
//        width: 100%;
//        height: 100%;
//        top: 0;
//        left: 0;
//      }
//    }
//  }
//
//  &.mobile {
//    .bx-input-group-btn {
//      a {
//        width: 38px;
//        height: 38px;
//
//        &:before {
//          background: url(../image/camblue.png) center no-repeat;
//          background-size: 65%;
//        }
//
//        &:after {
//          background: url(../image/towishlist_around.png) no-repeat;
//          background-size: cover;
//        }
//      }
//    }
//  }
//}

/**** languages  ****/

//.languages {
//  float: right;
//  width: 30px;
//  margin: 3px 0 0 15px;
//}
//
//.language-item {
//  font: 16px/20px fregatregular, sans-serif;
//
//  & + .language-item {
//    margin-top: 10px;
//  }
//
//  &.active {
//    a {
//      color: var(--aw-gray);
//      border-bottom-color: var(--aw-orange);
//    }
//  }
//
//  a {
//    color: var(--awgray-price-color);
//    border-bottom: 2px solid transparent;
//  }
//}
//
/****  login  ****/

.login-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;

  .fa-user {
    width: 36px;
    height: 36px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;
    display: inline-block;

    &:hover {
      &:after {
        transform: rotate(180deg);
      }
    }

    &:before {
      background: url(../image/user_login.png) center no-repeat;
      width: 100%;
      height: 100%;
      background-position-y: 6px;
    }

    &:after {
      background: url(../image/user_around.png) no-repeat;
      width: 36px;
      height: 36px;
      transition: transform 0.5s;
    }

    &:after,
    &:before {
      content: "";
      position: absolute;
      display: inline-block;
      top: 0;
    }
  }
}

.login-dropdown {
//  &.login-menu {
//    a {
//      border-bottom: 0;
//    }
//  }

//  .row {
//    margin: 0 0 20px;
//  }

//  .form-row,
//  form {
//    display: flex;
//    flex-direction: column;
//    border: none !important;
//    padding: 0 !important;
//    margin: 0 !important;
//    width: 100% !important;
//  }

//  .buttons-holder {
//    text-align: center;
//    margin: 0 0 30px;
//
//    .input-holder {
//      margin: 0 0 10px;
//    }
//
//    input {
//      width: 100%;
//      max-width: 220px;
//    }
//  }

//  a {
//    &.password-link {
//      color: var(--aw-blue);
//      font-size: 14px;
//    }
//  }

//  .socials {
//    text-align: center;
//    margin: 0 0 16px;
//  }

//  .socials-title {
//    display: block;
//    color: var(--aw-gray);
//    font: 16px/20px fregatbold, sans-serif;
//    margin: 0 0 13px;
//  }

//  .social-links {
//    text-align: center;
//
//    &:hover {
//      .icon-vk {
//        background-position: -51px -24px;
//      }
//    }

//    a {
//      display: inline-block;
//      vertical-align: top;
//      width: 36px;
//      height: 36px;
//      text-align: center;
//      line-height: 30px;
//      border: 0;
//      opacity: 0.7;
//      margin: 0 8px;
//      position: relative;
//
//      &:after {
//        content: "";
//        background: url(../image/icons-sprite.png) 0 -38px no-repeat;
//        display: inline-block;
//        width: 100%;
//        height: 100%;
//        position: absolute;
//        top: 0;
//        left: 0;
//        transition: transform 0.5s;
//      }
//
//      &:hover {
//        &:after {
//          opacity: 1;
//          background: url(../image/icons-sprite.png) 0 -442px no-repeat;
//          transform: rotate(180deg);
//        }
//
//        i {
//          background: url(../image/social-icons-login-active.png) no-repeat;
//        }
//
//        .icon-fb {
//          background-position: 0 -24px;
//        }
//
//        .icon-tw {
//          background-position: -111px -25px;
//        }
//
//      }
//    }

//    i {
//      background: url(../image/social-icons-login.png) no-repeat;
//      display: inline-block;
//      vertical-align: middle;
//    }

//    .icon-fb {
//      background-position: 0 -2px;
//      width: 11px;
//      height: 19px;
//    }

//    .icon-vk {
//      background-position: -51px 0;
//      width: 23px;
//      height: 20px;
//    }

//    .icon-tw {
//      background-position: -111px -3px;
//      width: 20px;
//      height: 17px;
//    }
//  }
}

/***************************/

#video {
  margin-left: 10px;
}

.favorites-holder {
  position: relative;

  li {
    list-style: none;
  }
}

.icon-favorites {
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: top;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../image/towishlist_around.png") no-repeat;
    background-size: cover;
    transition: transform 0.5s;

  }

  &:hover {
    &:after {
      transform: rotate(180deg);
    }
  }

  .bubble {
    position: absolute;
    top: -8px;
    right: 0;
    border-radius: 9px;
    min-width: 18px;
    height: 18px;
    color: var(--aw-red);
    font: 16px/18px "fregatbold", sans-serif;
    text-align: center;
    background: transparent;
    padding: 0 3px;
    z-index: 1;
  }
}

.woosw-menu-item-inner {
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 20px;
  z-index: 9999;

  &:before {
    content: " ";
    position: absolute;
    background-image: url(../image/towishlist_heart.png);
    width: 22px;
    height: 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    left: 2px !important;
  }

}

.basket-holder {
  .bubble {
    top: -3px;
    right: -7px;
    position: absolute;
    border-radius: 9px;
    min-width: 18px;
    height: 18px;
    color: var(--aw-red-price);
    font: 16px / 18px "fregatbold", sans-serif;
    text-align: center;
    background: var(--aw-white);
    padding: 0 3px;
    z-index: 1;
  }
}

.basket-link-wrap {
  color: var(--aw-black);

  .cart-title {
    font-family: "fregatbold", sans-serif;
  }

  .basket-sum {
    display: block;
    padding: 5px 0 0;
    white-space: nowrap;

    strong {
      white-space: nowrap;
    }
  }
}

.ladybug {
  &:after {
    content: "";
    background: url(../image/ledybug.png) no-repeat;
    display: inline-block;
    width: 28px;
    height: 15px;
    position: absolute;
    z-index: 1;
    top: -16px;
    right: -9999px;
    animation: ladybug 11s 0.2s linear forwards;
  }
}

@keyframes ladybug {
  0% {
    right: 0;
  }
  100% {
    right: 400px;
  }
}

@keyframes animdog {
  0% {
    right: 0;
  }

  100% {
    right: -44px;
  }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
  .bx-logo {
    width: 180px;
    min-width: 180px;
    margin: 5px;
  }

  .basket-link-wrap {
    display: none;
  }

  //.bx-header {
  //  .phones {
  //    font-size: 22px;
  //  }
  //}
}

@media (min-width: 1320px) {

}

@media (max-width: 1319px) {
  .header-top {
    .phone {
      a {
        font-size: 22px;
      }
    }
  }

  .bx-header {
    .login-block {
      .login-link {
        max-width: 90px;
        font-size: 11px;
        line-height: 17px;
      }
    }

    .callback-link {
      font-size: 11px;
      line-height: 17px;
    }
  }
}

@media (max-width: 1199px) {
  .header-top {
    padding: 20px 0 30px;
  }

  .header-top-l {
    width: calc(50% - 75px);
  }

  .bx-logo {
    width: 130px;
    min-width: 130px;

    .bx-logo-block {
      height: 100%;
    }
  }

  .header-top-r {
    .basket-holder {
      width: auto;
    }
  }

  .header-top-r {
    .fa-shopping-cart {
      margin: 0;
    }
  }

  //.bx-header {
  //  .phones {
  //    font-size: 22px;
  //  }
  //}

  .bx-inc-orginfo-phone {
    flex-wrap: wrap;
  }
}

@media (max-width: 992px) {
  header {
    .bx-header {
      position: relative;
      z-index: 1001;
    }
  }

  .catalog-body {
  //  &.is-banner {
  //    .header-top {
  //      position: relative;
  //      top: 0;
  //    }
  //  }
  //
  //  .bx-header {
  //    &:before {
  //      content: none;
  //    }
  //  }
  }

  .bx-header {
    .login-block {
      .login-link {
        max-width: 200px;
        font-size: 13px;
        line-height: 16px;
      }

      .login-dropdown {
        &:not(.login-menu):before {
          background: url(assets/image/border2.png) no-repeat;
          width: 61px;
          height: 15px;
          top: -13px;
          left: 50%;
          margin: 0 0 0 -30px;
          content: "";
          position: absolute;
        }

        &:not(.login-menu):after {
          content: "";
          background: url(assets/image/border4.png) no-repeat;
          position: absolute;
          bottom: -2px;
          right: -3px;
          width: 34px;
          height: 33px;
        }

        &:not(.login-menu) {
          width: 270px;
          border: 2px solid var(--aw-orange);
          border-right-width: 3px;
          border-radius: 15px 15px 37px;
          background: var(--aw-white);
          padding: 28px 30px 0;
        }
      }
    }
  }

  .header-top {
    min-height: 0;
    height: 90px;
    width: 100%;
    background: url(../image/bg-body.jpg) 50% 0;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      height: 19px;
      background: url(assets/image/bg-header-t.png) 50% 100% repeat-x;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      height: 16px;
      background: url(assets/image/bg-header-center-t.png) 50% 0 repeat-x;
    }

    & > .container {
      & > .row {
        position: relative;
      }
    }

    //.languages {
    //  display: none;
    //}
  }

  .header-top-l {
    display: none;
  }

  .header-center {
    padding: 0;

    .menu-section {
      .socials-row {
        justify-content: center;
      }
    }
  }

  .header-top-r {
    padding: 0;
    gap: 8px
  }

  .search-mobile {
    z-index: 9999999;
  }

  //.is-banner {
  //  .header-top {
  //    top: 56px;
  //  }
  //}
  //
  //.price_list-mobile {
  //  display: flex;
  //  margin: 0 10px;
  //  font-size: 16px;
  //  line-height: 30px;
  //  text-align: center;
  //
  //  .price_list_link {
  //    color: var(--aw-white);
  //    display: flex;
  //    width: 100%;
  //    align-items: center;
  //    justify-content: center;
  //    background: url(../image/white-border.png) repeat-x 0;
  //    position: relative;
  //    margin: 20px 17px 5px;
  //    height: 32px;
  //    font-size: 16px;
  //    line-height: 30px;
  //
  //    &:before {
  //      width: 17px;
  //      background: url(../image/white-border-left.png) no-repeat top left;
  //    }
  //
  //    &:after {
  //      width: 17px;
  //      background: url(../image/white-border-right.png) no-repeat top right;
  //    }
  //  }
  //}

  .bx-logo {
    width: 110px;
    min-width: 110px;
    margin: 0;
  }

  .bx-header {
    .bx-searchtitle {
      margin: 0;
    }
  }

  .bx-video {
    .bx-input-group-btn {
      a {
        display: none;
      }
    }

    .mobile {
      display: none !important;
    }
  }

  .menu-section {
    .bx-searchtitle {
        display: none;
    }
  }

  .ladybug {
    &:after {
      top: -18px;
    }
  }
}

@media (max-width: 768px) {
  header {
    .header-top {
      position: static;
    }
  }

  .bx-logo {
    background: 0 0;
    position: static;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1400;

  //  .bx-logo-block {
  //    text-align: center;
  //    height: 30px;
  //  }
  }

  //.bx-logo-text {
  //  font-size: 24px;
  //  color: var(--aw-white);
  //  line-height: 30px;
  //  vertical-align: middle;
  //
  //  small {
  //    font-size: 24px;
  //    color: var(--aw-white);
  //  }
  //
  //  &:active,
  //  &:hover {
  //    color: var(--aw-white);
  //  }
  //}
  //
  //.bx-logo-desc {
  //  display: none;
  //}
}

@media (max-width: 640px) {
//  .is-banner {
//    .header-top {
//      top: 60px;
//    }
//  }
}

@media (max-width: 541px) {
  .header-top {
    border-bottom: 2px solid var(--aw-border-bottom-color);
    min-width: 300px;
  }

  .bx-logo {
    display: none;
  }

  .header-top-r {
    justify-content: flex-end;
    gap: 8px;

    .bx-hdr-profile {
      gap: 8px;
    }

    #video {
      display: none;
    }
  }

  .login-block {
    gap: 8px;
  }
}

@media (max-width: 480px) {
  .bx-logo {
    background: 0 0;
    position: static;
    padding: 0;
    width: 190px;
    min-width: 40px;
    height: 50px;
  }
}