//div {
//  &.menu-clear-left {
//    clear: left;
//  }
//}
//
ul {
//  &.left-menu {
//    list-style: none;
//    margin: 0 0 8px;
//    padding: 0;
//    position: relative;
//
//    li {
//      padding: 10px 16px;
//      background: url(../components/bitrix/menu/footer/images/left_menu_bg.gif) top repeat-x var(--aw-light-gray-color);
//
//      a {
//        font-size: 100%;
//        color: var(--aw-red-price);
//        font-weight: 700;
//        text-decoration: none;
//
//        &:hover,
//        &:visited {
//          color: var(--aw-red-price);
//        }
//
//        &.selected {
//          &:active,
//          &:hover,
//          &:link,
//          &:visited {
//            color: var(--aw-orange);
//          }
//        }
//      }
//    }
//  }
}

.menu-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  .menu-clear-left {
    display: none;
  }
}

.menu-section {
  display: flex;
  align-items: center;
  width: calc(100% - 72px);

  .books-menu {
    &.opened {
      .bx_vertical_menu_advanced {
        padding-left: 15px;

        &:after {
          content: "";
          display: inline-block;
          width: 204px;
          height: 200px;
          background: url(../image/menu_img.png) no-repeat;
          position: absolute;
          bottom: 0;
          right: 0;
        }

      }
    }
  }

  .socials-row {
    padding: 10px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .login-block {
    padding: 0 12px 10px;

    .fa-user {
      background: url(../image/ic-user_white.svg) no-repeat;

      &:after,
      &:before {
        background: 0 0;
      }
    }
  }

  .login-languages {
    .languages {
      margin-bottom: 0 !important;
      margin-top: 0;
      margin-right: 0;
    }

    .login-block {
      padding-bottom: 0;
      padding-left: 0;
    }

  }

  .login-dropdown {
    &.login-menu {
      a {
        color: var(--aw-dark-gray);
      }
    }
  }

  .languages {
    display: none;
  }

  .language-item {
    display: inline-block;
    vertical-align: top;
    margin: 0;

    &  + .language-item {
      margin-left: 10px;
    }

    a {
      opacity: 0.7;
      color: var(--aw-white);
    }

    &.active {
      a {
        color: var(--aw-white);
        opacity: 1;
      }
    }
  }

  .bx-socialsidebar {
    margin: 0;
  }

  .bx-socialsidebar-group {
    ul {
      li {
        width: 36px;
        height: 36px;
        margin: 0 0 0 5px;

        a {
          background: url(../image/socials-sprite-footer.png) no-repeat;
          width: 36px;
          height: 36px;
          opacity: 1;

          &:hover {
            opacity: 0.7;
          }

          &.fb {
            background-position: 0 0;
          }

          &.tw {
            background-position: -116px 0;
          }

          &.vk {
            background-position: -58px 0;
          }

          &.in {
            background-position: -174px 0;
          }
        }
      }
    }
  }

  .callback-dropdown {
    top: 100%;
    left: 10px;
    margin-left: 0;
  }
}

.bx-header {
  .menu-section {
    .phones-block-mobile {
      align-items: center;
      justify-content: center;
      padding: 14px 0;
      border: 1px solid transparent;
      border-top-color: var(--aw-border-bottom-color);
      border-bottom-color: var(--aw-border-bottom-color);
      margin: 0 10px;
    }
  }
}

//.menu-decoration-girl {
//  background: url(../image/img-aside-girl.png) no-repeat;
//  width: 154px;
//  height: 64px;
//  position: absolute;
//  bottom: -69px;
//  left: 40px;
//}

.books-button {
  background: url(../image/bg-books-btns.png) no-repeat;
  background-size: contain;
  width: 281px;
  height: 90px;
  color: var(--aw-white);
  font: 29px/29px fregatbold, sans-serif;
  letter-spacing: 0.03em;
  position: relative;
  padding: 39px 0 20px 27px;
  margin: -3px 0 0 5px;
  cursor: pointer;

//  &.sites-s2 {
//    font: 26px/29px fregatbold, sans-serif;
//  }

  .icon-arrow {
    background: url(../image/ic-arrow-drop.png) no-repeat;
    width: 13px;
    height: 8px;
    position: absolute;
    right: 16px;
    top: 50px;
  }
}

.bx-top-nav-container {
  margin: 0;
}

.bx-header {
  .menu-section {
    .login-block {
      .login-dropdown {
        left: 10px;
        margin-left: 0;
      }
    }

    .phones-block {
      float: none;
      position: relative;
      padding: 0 12px 15px;
    }

    .phones {
      padding: 0;
    }

    .callback-link,
    .phone a {
      color: var(--aw-white);
    }
  }
}

.bx-footer {
  .col-menu {
    float: left;
    width: 220px;
    margin: 0 44px 0 0;
  }

  .col-sub-menu {
    float: left;
    width: 210px;
    margin: 0 50px 0 0;
  }
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    font: 17px/20px fregatbold, sans-serif;
  }

  li {
    margin: 0 0 20px;
  }
}

.books-menu {
  position: relative;
  z-index: 4;
  float: left;
   margin: 0;
  //padding-left: 10px;

  &.opened {
    .bx_vertical_menu_advanced {
      visibility: visible;
      opacity: 1;
      z-index: 1;

      &:after {
        content: "";
        display: inline-block;
        width: 204px;
        height: 200px;
        background: url(../image/menu_img.png) no-repeat;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  .bx_vertical_menu_advanced {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 78px;
    left: 2px;
    transition: all 0.3s;
    display: block;
  }
}

//.blog-menu {
//  padding: 0;
//  margin: 0;
//  list-style: none;
//
//  li {
//    font: 18px/20px fregatregular, sans-serif;
//    margin: 0 0 28px;
//
//    &.active {
//      font-family: fregatbold, sans-serif;
//
//      a {
//        &:before {
//          content: "";
//          //position: relative;
//          color: var(--aw-blue);
//          background: url(../image/dot-menu.png) no-repeat;
//          width: 10px;
//          height: 10px;
//          position: absolute;
//          top: 0;
//          left: -16px;
//        }
//      }
//    }
//
//    a {
//      color: var(--aw-gray);
//
//      &:hover {
//        color: var(--aw-blue);
//      }
//    }
//  }
//}
//
//.socials-row {
//  .price_list {
//    text-align: left;
//    padding: 12px 5px 5px 15px;
//  }
//
//  .price_list_link {
//    color: var(--aw-white);
//    background: url(../image/socials-sprite_white.png) 0 -36px repeat-x;
//
//    &:after {
//      background: url(../image/socials-sprite_white.png) 100% -72px no-repeat;
//    }
//
//    &:before {
//      background: url(../image/socials-sprite_white.png) no-repeat;
//    }
//  }
//}
//
//.bx_shadow_fix {
//  display: none;
//}

.bx_vertical_menu_advanced {
  position: relative;
  background: url(../image/bg-menu.png) no-repeat;
  width: 811px;
  height: 319px;
  padding: 37px 0 20px 20px;

  &  > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: 0;
    width: 255px;
    height: 100%;
    position: relative;

    &:after {
      content: "";
      width: 2px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: var(--aw-orange);
    }

    & > li {
      position: static;

      span {
        display: block;
        width: 80%;
      }
    }

    &:last-child {
      .bx_hma_one_lvl {
        &:last-child {
          & > a {
            border-bottom: none;
          }
        }
      }
    }
  }

  ul {
    &:last-child {
      .bx_hma_one_lvl {
        &:last-child {
          & > a {
            border-bottom: none;
          }
        }
      }
    }
  }

  .bx_hma_one_lvl {
    display: block;
    padding: 0;
    margin: 0 0 12px;

    & > ul {
      & > li {
        position: static;
      }
    }

    ul {
      display: block;
      margin: 0;
      padding: 0 0 14px;
      list-style: none;

      ul {
        li {
          ul {
            li {
              a {
                color: var(--aw-gray);
                font: 17px/20px fregatregular, sans-serif;
              }
            }
          }
        }
      }
    }

    & > a {
      position: relative;
      z-index: 105;
      display: block;
      padding: 0;
      border-bottom: 0;
      color: var(--aw-black);
      vertical-align: middle;
      text-align: left;
      text-decoration: none;
      //text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
      font: 18px/22px fregatbold, sans-serif;
      -webkit-transition: border-color 0s ease;
      -moz-transition: border-color 0s ease;
      -o-transition: border-color 0s ease;
      -ms-transition: border-color 0s ease;
      transition: border-color 0s ease;

      &:after {
        content: "";
        position: absolute;
        right: 20px;
        top: 50%;
        background: url(../image/icons-sprite.png) no-repeat;
        width: 8px;
        height: 11px;
        margin: -5px 0 0 5px;
      }

      &:before {
        content: "";
        background: url(../image/icons-sprite.png) 0 -229px no-repeat;
        width: 10px;
        height: 9px;
        position: absolute;
        left: -24px;
        top: 8px;
      }

      &:hover {
        color: var(--aw-orange);

        &:after {
          content: "";
          position: absolute;
          right: 20px;
          top: 50%;
          background: url(../image/icons-sprite.png) 0 -12px no-repeat;
          width: 8px;
          height: 11px;
          margin: -5px 0 0 5px;
        }
      }
    }

    &:first-child,
    &:first-child > a {
      border-radius: 0 4px 0 0;
    }

    &:last-child,
    &:last-child > a {
      border-radius: 0 0 4px;
    }

    &.hover {
      padding: 1px 0 0;
      border: none;

      &  > a {
        color: var(--aw-orange);
      }

      .bx_children_container {
        display: block;
      }
    }

    &.dropdown {
      &.hover {
        & > a {
          z-index: 1500;
        }
      }

      &.hover,
      &:hover {
        .bx_shadow_fix {
          position: absolute;
          top: 50%;
          right: 10px;
          //top: -1px;
          //right: -2px;
          bottom: auto;
          z-index: 1500;
          display: block;
          width: 8px;
          height: 11px;
          //background: var(--aw-white);
          background: url(../image/icons-sprite.png) 0 -12px no-repeat;
          opacity: 1;
          margin: -5px 0 0 5px;
        }
      }

    //  //.bx_shadow_fix {
    //  //  display: block;
    //  //  position: absolute;
    //  //  right: 10px;
    //  //  top: 50%;
    //  //  background: url(../image/icons-sprite.png) no-repeat;
    //  //  width: 8px;
    //  //  height: 11px;
    //  //  margin: -5px 0 0 5px;
    //  //}
    }

    .bx_children_block {
      &.advanced {
        .bx_children_advanced_panel {
          display: block !important;
        }
      }
    }

    .bx_children_container {
      position: absolute;
      top: 0;
      left: 255px;
      z-index: 1300;
      display: none;
      overflow: hidden;
      padding: 2px 0 0 22px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 100% 100%;
      width: 490px;
      height: 257px;
      border-radius: 0 0 35px 0;

      .bx_children_block {
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: -20000px;
        padding: 0 12px 20000px 12px;
        min-width: 130px;
        max-width: 280px;
        border-left: 1px solid var(--aw-border-section-left);

    //    & > ul {
    //      & > li {
    //        margin: 0 0 10px;
    //
    //        & > a {
    //          display: block;
    //          color: var(--aw-gray);
    //          font: 17px/20px fregatregular, sans-serif;
    //
    //          &:hover {
    //            color: var(--aw-orange);
    //          }
    //        }
    //
    //      }
    //    }

    //    li {
    //      &.parent {
    //
    //        ul {
    //          border-bottom: 1px solid var(--aw-border-bottom-color);
    //
    //          li {
    //            line-height: 24px;
    //          }
    //
    //          a {
    //            display: block;
    //            padding: 5px 10px;
    //          }
    //        }
    //
    //        & > a {
    //          display: block;
    //        }
    //
    //        &:last-child {
    //          ul {
    //            border-bottom: none;
    //          }
    //        }
    //      }
    //    }

    //    &.advanced {
    //      border-left: none;
    //      background: var(--aw-white);
    //      //box-shadow: inset 5px 0 7px -5px rgba(0, 0, 0, 0.12);
    //    }

    //    &:first-child {
    //      border-left: none;
    //    }
      }

    //  &.b1 {
    //    min-width: 180px;
    //
    //    .bx_children_block {
    //      width: 100%;
    //    }
    //  }

    //  &.b2 {
    //    min-width: 360px;
    //
    //    .bx_children_block {
    //      width: 100%;
    //    }
    //  }

    //  &.b3 {
    //    min-width: 540px;
    //
    //    .bx_children_block {
    //      width: 33.3%;
    //    }
    //  }

    //  &.b4 {
    //    min-width: 720px;
    //
    //    .bx_children_block {
    //      width: 25%;
    //    }
    //  }
    }

    .bx_children_advanced_panel {
      display: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;

      img {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        max-width: 100%;
        max-height: 220px;
        border: 1px solid var(--aw-border-color);
      }

      .bx_item_description {
        max-width: 100%;
        max-height: 220px;
        color: var(--aw-black);
        text-align: left;
        white-space: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}

.visual_hover {
  &:hover {
    .bx_children_container {
      display: block;
    }
  }
}

.bx_hma_one_lvl-ul {
  display: block;
  margin: 0;
  padding: 0 0 14px 0;
  list-style: none;
}

#horizontal-multilevel-menu {
  background: var(--aw-blue);
  width: calc(100% - 286px);
  min-height: 27px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 20px;
  list-style: none;
  font-size: 11px;
  float: left;

  a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
    font: 16px/18px fregatbold, sans-serif;

    &.parent {
      background: url(../image/arrow.gif) center right no-repeat;
    }

    &.denied {
      background: url(../image/lock.gif) center right no-repeat;
    }
  }

  & > li {
    &:hover {
      background: 0 0;
    }
  }

  li {
    max-width: 124px;
    margin-right: 10px;
    float: left;

    &:hover {
      a {
        color: var(--aw-dark-gray);
        font-weight: 700;

        &.root-item {
          background: 0 0;
          color: var(--aw-white);
        }
      }
    }

    ul {
      position: absolute;
      top: auto;
      display: none;
      z-index: 500;
      height: auto;
      width: 135px;
      background: var(--aw-white);
      border: 1px solid var(--aw-background-hover);

      ul {
        margin: -27px 0 0 132px;
      }

      a {
        text-align: left;
      }
    }

    li {
      width: 100%;
      border-bottom: 1px solid var(--aw-background-light-gray);
    }

    a {
      font: 16px/18px fregatbold, sans-serif;
      color: var(--aw-dark-gray);
      font-weight: 700;

      &.root-item {
      font-weight: 400;
      font-family: fregatbold, sans-serif;
      transition: opacity 0.3s;

        &:hover {
          opacity: 0.8;
        }
    }

      &.root-item,
      &.root-item-selected {
        color: var(--aw-white);
        font-weight: 700;
        padding: 7px 12px;
      }
    }

    &.item-selected,
    &:hover {
      //background: var(--aw-background-hover);
      color: var(--aw-white);
    }
  }

  .with-icon {
    position: relative;
    margin-left: 20px;

    &:before {
    content: "";
    position: absolute;
    top: 5px;
    left: -20px;    background-image: url(../image/sale.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
  }

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}

//.woocommerce-MyAccount-navigation {
//  a {
//    position: relative;
//    z-index: 105;
//    display: block;
//    padding: 0;
//    border-bottom: 1px solid var(--aw-border-bottom-color);
//    color: var(--aw-gray);
//    vertical-align: middle;
//    text-align: left;
//    text-decoration: none;
//    //text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
//    font: 18px/22px "fregatbold", sans-serif;
//  }
//
//  .is-active {
//    a {
//      color: var(--aw-blue);
//
//      &:before {
//        content: "";
//        background: url("./assets/image/icons-sprite.png") no-repeat 0 -229px;
//        width: 10px;
//        height: 9px;
//        position: absolute;
//        left: -24px;
//        top: 8px;
//      }
//    }
//  }
//}

.videonews {
  border: dashed 2.5px white;
  border-radius: 30px;
  padding-right: 33px;

  &.with-icon {

    &:before {
      content: "";
      position: absolute;
      top: 7px !important;
      left: 76px !important;
      width: 35px !important;
      height: 35px !important;
      background-image: url(../image/cam.png) !important;
      background-size: contain;
      background-repeat: no-repeat;
    }

  }
}

//.login-languages {
//  display: flex;
//  justify-content: space-around;
//  align-items: center;
//  margin-top: 10px;
//  margin-bottom: 10px;
//}
//
//.phones-block-mobile {
//  .link {
//    color: var(--aw-white);
//    font-size: 14px;
//    line-height: 16px;
//    display: inline-flex;
//    padding: 0 0 1px;
//    border-bottom: 1px solid var(--aw-white);
//    margin-bottom: 18px;
//  }
//}

@media (min-width: 992px) {
  .burger-menu {
    display: none;
  }

  .bx-header {
    .menu-section {
      .login-block {
        display: none;
      }

      .phones-block {
        display: none;
      }

      .socials-row {
        display: none;
      }
    }
  }

  .search-mobile {
    display: none;
  }

  //  body {
  //    &.mmenu-opened {
  //      overflow: hidden;
  //      position: fixed;
  //      width: 100%;
  //      height: 100%;
  //    }
  //  }
}

@media (max-width: 1320px) {
  #horizontal-multilevel-menu {
    padding-left: 20px;
    padding-right: 20px;

    li {
      a {
        &.root-item {
          padding: 7px 10px;
        }
      }
    }
  }

  .bx-searchtitle {
    &.opened {
      left: 300px;
      right: 20px;
    }
  }
}

@media (max-width: 1200px) {
  .books-menu {
    width: 250px;
  }

  .books-button {
    transform: scale(0.85);
    transform-origin: 0 50%;
  }

  .bx-header {
    .menu-section {
      //.login-block {
      //  display: none;
      //}
      //
      //.phones-block {
      //  display: none;
      //}
      //
      //.socials-row {
      //  display: none;
      //}

      .phones-block-mobile {
        //display: flex;
      }
    }
  }

  .bx-searchtitle {
    &.opened {
      left: 255px;
    }
  }

  #horizontal-multilevel-menu {
    padding-left: 0;
    padding-right: 0;
    width: calc(100% - 250px);

    li {
      margin-right: 0;

      a {
        &.root-item {
          font-size: 14px;
        }
      }
    }

    .with-icon {
      margin-left: 0;

      .icon-sale {
        display: none;
      }
    }
  }

  .basket-link-wrap {
    display: none;
  }
}

@media (max-width: 992px) {
  .burger-menu {
    display: block;
    transform: rotate(0);
    width: 36px;
    min-width: 36px;
    height: 36px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    margin: 13px 15px 0 0;

    span {
      display: block;
      background: var(--aw-blue);
      height: 4px;
      width: 100%;
      position: absolute;
      border-radius: 4px;
      opacity: 1;
      left: 0;
      transition: 0.25s ease-in-out;
      transform: rotate(0);

      &:nth-child(1) {
        top: 0;
        transform-origin: left center;
      }

      &:nth-child(2) {
        top: 10px;
        transform-origin: left center;
      }

      &:nth-child(3) {
        top: 20px;
        transform-origin: left center;
      }
    }

    &.opened {
      span {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: -1px;
          left: 2px;
        }

        &:nth-child(2) {
          width: 0;
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          top: 24px;
          left: 2px;
        }
      }
    }
  }

  .bx_vertical_menu_advanced {
    .bx_hma_one_lvl {
      & > a {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--aw-white);
        text-shadow: none;
        padding: 0;

        &:after {
          content: "";
          position: absolute;
          right: 10px;
          top: 0;
          background: url(../image/triangle-right.svg) no-repeat;
          background-size: contain;
          width: 22px;
          height: 22px;
          margin: 0;
        }

        &:before {
          content: none;
        }
      }

      & > ul {
        padding: 0;
        width: 100%;

        &:after {
          display: none;
        }
      }

      .dropdown {
        .bx_shadow_fix {
          display: none;
        }

        &.hover,
        &:hover {
          .bx_shadow_fix {
            display: none;
          }
        }
      }

      &.hover {
        & > a {
          color: var(--aw-white);
        }
      }

      &:hover {
        & > a {
          color: var(--aw-orange);
        }
      }

    }

    & > ul {
      padding: 0;
      width: 100%;
      border-bottom: 1px solid var(--aw-border-bottom-color);

      &:after {
        content: none;
      }
    }
  }

  .menu-row {
    display: block;
  }

  //  .is-banner {
  //    .menu-section {
  //      top: 145px;
  //    }
  //  }

  .menu-section {
    display: block;
    background: var(--aw-blue);
    width: 290px;
    position: fixed;
    left: -300px;
    top: 90px;
    z-index: 999;
    height: calc(100% - 90px);
    transition: all 0.5s;
    overflow-y: auto;
    //box-shadow: 0 10px 10px var(--aw-box-shadow-section);

    .books-menu {
        &.opened {
          .bx_vertical_menu_advanced {
            height: auto;
            padding: 20px 0;
            width: 100%;

            ul {
              padding-left: 10px;
            }

            &:after {
              content: none;
            }
          }
        }

      .bx_vertical_menu_advanced {
        position: static;
        width: 290px;
        height: 0;
        padding: 0 12px;
        background: 0 0;
      }
    }

    .bx_vertical_menu_advanced {
      .bx_hma_one_lvl {
        .bx_children_container {
          display: none;
        }
      }
    }

    //.socials-row {
    //  li {
    //    margin: 0 5px;
    //  }
    //}

    &:after {
      content: "";
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 90px;
      border: transparent;
      border-bottom: 2px dashed var(--aw-white);
    }

    .scroll_menu {
      overflow-x: hidden;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 100px;
      right: 0;
      overflow-y: auto;

      #horizontal-multilevel-menu {
        .with-icon {
          display: flex;
          align-items: center;
          margin-left: 0;
          margin-right: 0;
          padding: 8px 10px;

          .root-item {
            padding-left: 2px;
          }
        }
      }
    }

    //.languages {
    //  display: block;
    //  width: auto;
    //  margin: 10px;
    //  float: none;
    //}

  }

  .books-menu {
    float: none;
    position: static;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;

    &.opened {
      .bx_vertical_menu_advanced {
        &:after {
          content: none;
        }
      }
    }
  }

  //.header-center {
  //  .menu-section {
  //    .socials-row {
  //      justify-content: center;
  //    }
  //  }
  //}

  .bx-header {
      .menu-section {
        .phones-block-mobile {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 7px 0 ;
          border: 1px solid transparent;
          border-top-color: var(--aw-border-bottom-color);
          border-bottom-color: var(--aw-border-bottom-color);
          margin: 0 10px;
        }
      }

    &.opened {
      .menu-section {
        left: 0;
      }
    }
  }

  .scroll_menu {
    #horizontal-multilevel-menu {
      padding: 0 20px 0 20px;
      //padding-left: 5px;
      margin-bottom: 20px;

      li {
        a {
          &.root-item {
            font-family: "fregatregular", Arial, Helvetica, sans-serif;
          }
        }
      }

      .with-icon {
        display: flex;
        align-items: center;
        width: 100%;

        &.videonews {
          padding: 8px;
        }

        .icon-sale {
          display: inline-flex;
          position: static;
          margin-left: 10px;
        }

        .root-item {
          padding-left: 2px;
        }
      }
    }
  }

  #horizontal-multilevel-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    width: 100%;

    a {
      text-align: left;
    }

    li {
      float: none;
      max-width: none;

      a {
        &.root-item {
          padding: 0;
          font-size: 16px;
          display: inline-block;
          vertical-align: top;
        }

        &.root-item-selected {
          font-size: 16px;
          display: inline-block;
          vertical-align: top;
        }
      }
    }
  }

  .videonews {
    width: 100%;

    &.with-icon {
      &:before {
        content: "";
        position: absolute;
        top: 2px !important;
        left: 11px !important;
        width: 30px !important;
        height: 30px !important;
        background-image: url(../image/cam.png);
        background-size: contain;
        background-repeat: no-repeat;
      }

      .root-item {
        padding-left: 47px !important;
      }
    }
  }

}

@media (max-width: 770px) {
//  .menu-section {
//    top: 120px;
//  }
}

@media (max-width: 569px) {
//  .bx_vertical_menu_advanced {
//    display: none;
//  }
}

@media (max-width: 500px) {
//  .is-banner {
//    .menu-section {
//      top: 130px;
//    }
//  }
//
//  .menu-section {
//    height: calc(100% - 70px);
//    top: 70px;
//  }
}
