.product-card {
  position: relative;
  width: 266px;
  @include flex-column;
  justify-content: center;
  gap: 32px;

  .so_product-link {
    padding: 8px;
  }

  .product-title-block {
    display: flex;
    padding: 0 8px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }

  .img {
    width: 264px;
    height: 264px;
    position: relative;

    img {
      width: 100%;
      height: auto;
      transition: transform 0.3s ease;
    }
  }

  .num {
    @include flex-center;
    gap: 12px;

    del {
      font-family: var(--fm-base);
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: 0;
      vertical-align: middle;
      color: var(--color-gray);
      text-decoration: line-through;

      @include down(#{$bp-xs}) {
        font-size: 14px;
      }
    }

    ins {
      font-family: var(--fm-heading);
      font-weight: 400;
      font-size: 44px;
      line-height: 110.00000000000001%;
      letter-spacing: 0;
      vertical-align: middle;
      color: var(--brand-orange);

      @include down(#{$bp-xs}) {
        font-size: 40px;
        line-height: 90%;
      }
    }

    @include down(#{$bp-xs}) {
      flex-direction: column;
      gap: 4px;
    }
  }

  .info-block {
    display: flex;
    flex-direction: column;
    gap: 6px;

    @include down(#{$bp-xs}) {
      gap: 4px;
    }

    p {
      color: var(--color-gray);
      text-align: center;
      font-family: var(--fm-base);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 21.6px */
      text-transform: none;
      min-height: calc(16px * 1.2);;

      @include down(#{$bp-xs}) {
        font-size: 14px;
        min-height: calc(14px * 1.2);;
      }

    }
  }

  &:hover {
    img {
      transition: transform 0.3s ease;
      transform: scale(1.1);
    }

    h3 {
      color: var(--brand-green-prymary);
    }
  }

  @include down(#{$bp-xs}) {
    width: 152px;
    gap: 20px;

    .img {
      width: 152px;
      height: 152px;
    }
  }
}

.preorder {
  .product-card {
    @include down(#{$bp-xs}) {
      .favorite-box {
        display: none;
      }
    }
  }
}

.single-preorder {
  .product-card {
    &.preorder {
      width: 310px;
      gap: 28px;

      @include down(#{$bp-xs}) {
        width: 266px;
        padding: 0;
        gap: 20px;

        .sale_book {
          top: 23px;
          right: 16px;
          width: 55px;
          height: 48px;
          font-size: 30px;
        }

        .percent {
          font-size: 30px;
        }

        .new_book {
          width: 67px;
          height: 57px;
          right: 62px;
          bottom: 18px;
        }

        .preorder-book {
          top: -30px;
          left: -9px;
          width: 126px;
          height: 126px;
        }

        .favorite-box {
          display: block;
        }
      }

      .product-title-block {
        display: flex;
        padding: 0 8px;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        align-self: stretch;

        @include down(#{$bp-xs}) {
          gap: 4px;
        }
      }

      .product-title {
        gap: 14px;

        @include down(#{$bp-xs}) {
          gap: 8px;
        }

        h3 {
          font-size: 22px;
          height: calc(22px * 1.2 * 2);
          display: -webkit-box;
          -webkit-line-clamp: 2; // две строки
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-transform: unset;

          @include down(#{$bp-xs}) {
            font-size: 16px;
            height: calc(16px * 1.2 * 2);
          }
        }
      }

      .img {
        width: 100%;
        height: 100%;
      }

      .pr-info {
        right: 50px;

        @include down(#{$bp-xs}) {
          right: 20px;
        }
      }

      .info-block {
        gap: 5px;

        @include down(#{$bp-xs}) {
          gap: 4px;
        }

        p {
          font-size: 18px;
          min-height: calc(18px * 1.2);

          @include down(#{$bp-xs}) {
            font-size: 14px;
            min-height: calc(14px * 1.2);
          }
        }
      }

      .num {
        ins {
          font-size: 52px;

          @include down(#{$bp-xs}) {
            font-size: 40px;
          }
        }

        del {
          font-size: 18px;

          @include down(#{$bp-xs}) {
            font-size: 14px;
          }
        }
      }

      .button-to-buy {
        width: 184px;
        height: 65px;
        background: url(../image/button-buy.svg) no-repeat;
        background-size: 100% 100%;
        transform: translate(0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 18px;

        .text-block {
          font-size: inherit;
        }

        &:hover {
          background: url("../image/button-buy-red.svg") no-repeat;
          background-size: 100% 100%;

          span {
            color: var(--color-white);
          }
        }

        @include down(#{$bp-xs}) {
          width: 150px;
          height: 54px;
          background: url(../image/button-buy.svg) no-repeat;
          background-size: contain;
          font-size: 16px;

          &::before {
            content: unset;
          }

          .text-block {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    .so_product-link {
      padding: 10px;
    }

    .woosw-btn {
      width: 56px;
      height: 56px;
    }

    .favorites-link {
      .woosw-icon-8,
      .woosw-icon-5 {
        width: 27px;
        height: 27px;
        background-size: cover;
      }
    }
  }
}

.product-title {
  @include flex-column;
  gap: 12px;

  h3 {
    font-family: var(--fm-base);
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    color: var(--color-base);
    margin-bottom: 0;
    height: calc(18px * 1.2 * 2);
    display: -webkit-box;
    -webkit-line-clamp: 2; // две строки
    -webkit-box-orient: vertical;
    overflow: hidden;

    @include down(#{$bp-xs}) {
      height: calc(16px * 1.2 * 2);
      font-size: 16px;
    }
  }

  p {
    font-family: var(--fm-base);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0;
    color: var(--color-gray);

    @include down(#{$bp-xs}) {
      font-size: 14px;
    }

  }

  @include down(#{$bp-xs}) {
    gap: 8px;
  }
}

.favorite-basket-block {
  @include flex-center;
  gap: 16px;
}

.woosw-btn {
  @include flex-center;
  width: 50px;
  height: 50px;
  flex: 0 0 50px;
  cursor: pointer;

  &::before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: url('../image/wishlist-black.svg');
    background-size: cover;
    transform: translate(0, 0);
    font-size: 0;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    background-image: url('../image/stroke.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: transform 0.5s;
    transform: rotate(90deg);
    -webkit-transform: rotate(-90deg);
    inset: 0;
  }

  &:hover {
    &::after {
      transform: rotate(180deg);
    }

    .woosw-icon-5 {
      background: url('../image/green-heart.svg');
    }
  }

  @include down(#{$bp-xs}) {
    width: 50px;
    height: 50px;
    min-width: 50px;
    padding: 0 !important;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent !important;
    background-image: url('../image/stroke.svg') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;

    border: 0 !important;
    appearance: none;
    -webkit-appearance: none;

    &:after {
      content: unset;
    }
  }
}

.favorites-link {
  position: relative;
  cursor: pointer;

  &.disabled {
    span {
      border-bottom: none;
      color: var(----color-base);
      cursor: default;
    }

    .icon-favorite {
      cursor: default;
    }
  }

  .woosw-icon-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: url('../image/wishlist-black.svg');
    background-size: cover;
    transform: translate(0, 0);
    font-size: 0;
    transition: all 0.3s;
    vertical-align: middle;
  }

  .woosw-icon-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: url('../image/wish-red.svg');
    background-size: cover;
    transform: translate(0, 0);
    font-size: 0;
    transition: all 0.3s;
    vertical-align: middle;
  }

}

.button-to-buy {
  width: 158px;
  height: 57px;
  background: url("../image/button-buy.svg") no-repeat;
  background-size: 100% 100%;
  transform: translate(0, 0);
  @include flex-center;
  cursor: pointer;

  .text-block {
    font-family: var(--fm-base);
    font-weight: 600;
    font-size: 16px;
    color: var(--brand-orange);
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
  }

  .icon-block {
    width: 24px;
    height: 24px;
    background: url('../image/basket-black.svg');
    background-size: cover;
    transform: translate(0, 0);
    display: none;

    &.icon-red-backed {
      background: url('../image/basket-red.svg') !important;
    }
  }

  &:hover {
    background: url("../image/button-buy-red.svg") no-repeat;

    @include down(#{$bp-xs}) {
      background: unset;

      &::before {
        transform: rotate(180deg);
      }
      .icon-block {
        background: url('../image/basket-red.svg');
        transform: translate(0, 0);
      }
    }

    span {
      color: var(--color-white);
    }
  }

  @include down(#{$bp-xs}) {
    background: unset;
    width: 48px;
    height: 48px;

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      content: url('../image/stroke.svg');
      width: 100%;
      height: 100%;
      aspect-ratio: 1 / 1;
      transition: transform 0.5s;
      transform: rotate(90deg);
    }

    .text-block {
      display: none;
    }

    .icon-block {
      @include flex-center;
    }

  }

}

.favorite_categories {
  .flex-evenly-start-align {
     align-items: stretch;
  }
  .product-card {
    width: 309px;
    justify-content: center;
    gap: 22px;

    @include down(#{$bp-xs}) {
      align-items: stretch;
      width: 152px;
      gap: 12px;
    }

    .product-title {
      @include down(#{$bp-xs}) {
        flex-grow: 1;
        gap: 12px;

        p {
          margin-top: auto;
        }
      }
    }

    h3 {
      display: block;
      text-transform: uppercase;
      -webkit-line-clamp: unset;
      -webkit-box-orient: unset;
      overflow: unset;
      height: auto;

      @include down(#{$bp-xs}) {
        height: auto;
      }
    }

    &:hover {
      h3 {
        color: var(--brand-orange);
      }
    }
  }

  .product-card-header {
    @include flex-column;
    gap: 24px;
    flex-grow: 1;
  }

  .button-to-buy {
     align-self: center;

    @include down(#{$bp-xs}) {
      width: 100%;
      height: 50px;
      background: url('../image/button-buy.svg') no-repeat;
      background-size: 100% 100%;

      &::before {
        content: unset;
      }
    }


    .text-block {
      @include flex-center;
      gap: 10px;
    }

    .arrow-button-to-buy {
      width: 8px;
      height: 11px;
      @include flex-center;
      background: url("../image/arrow-buy-button.svg") no-repeat center;
      background-size: contain;
    }

    &:hover {
      .text-block {
        color: var(--color-white);
      }
      .arrow-button-to-buy {
        background: url("../image/arrow-buy-button-white.svg") no-repeat center;
        background-size: contain;

      }
    }
  }
}

.tow-image {
  width: 309px;
  height: 309px;
  position: relative;
  padding: 10px;

  @include down(#{$bp-xs}) {
    width: 152px;
    height: 152px;
  }

  .first-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 10px;
    width: 70%;
    height: 70%;
  }

  .second-image {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: end;
    justify-content: end;
    margin: 10px;
    width: 65%;
    height: 65%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Або contain, залежно від завдання */
    object-position: center; /* Центрує картинку в блоці */
  }
}