.header-search-mobile {
  &.opened {
    .aws-container {
      display: block;
      width: 100%;
    }
  }
}

.header-search {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;

  .aws-container {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background: var(--brand-green-prymary);
    border-bottom: unset;
    border-radius: 1000px;
    flex: 1;
    overflow: hidden;

    &:hover {
      border: 1px solid var(--color-white);

      & ~ .header-search-button {
        &:before {
          transform: rotate(180deg);
        }
      }

      .aws-search-field {
        padding: 19px 5px 19px 31px;
      }
    }

    @include down(#{$bp-xs}) {
       display: none;
       height: 55px;
    }
  }

  &.opened {
    position: absolute;
    width: 100%;
    z-index: 1500;

    @include down(#{$bp-xs}) {
      .header-search-button {
         margin-right: 3px;

         &::before {
           content: '';
           background: url('../image/stroke-white.svg') no-repeat;
           background-size: cover;
         }
      }

      .aws-search-btn {
         margin-right: 0;
      }
    }

    .aws-container {
      display: flex;
    }
  }

  .aws-search-field {
    width: 100%;
    height: 100%;
    padding: 20px 6px 20px 32px;
    margin: 0 !important;
    max-width: unset;
    color: var(--color-white);
    line-height: 30px;
    display: block;
    font-size: 16px;
    position: relative;
    z-index: 2;
    -webkit-appearance: none;
    border: none;
    outline: 0;
    background: transparent;

    &::placeholder {
      color: var(--color-white);
      font-family: var(--fm-base);
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: 0;
      vertical-align: middle;

      @include down(#{$bp-xs}) {
        font-size: 14px;
        line-height: 1;
      }
    }

    @include down(#{$bp-xs}) {
      padding-left: 20px;
    }
  }

  .aws-search-form {
    height: 100%;
    background: transparent;
    @include flex-center;

    &.aws-focus {
      background: white;

      .aws-search-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: var(--brand-green-prymary);
        gap: 10px;
        z-index: 99;
        border: unset;
        border-radius: 1000px !important;
        padding: 0 12px 0 22px;
        height: 48px;
        width: 122px;
        margin: 5px;

        @include down(#{$bp-xs}) {
          margin-right: 3px;
        }

        &:before {
          content: 'Знайти';
          font-family: var(--fm-base);
          font-weight: 500;
          font-size: 16px;
          line-height: 120%;
          letter-spacing: 0;
          vertical-align: middle;
          color: var(--color-white);
        }

        .aws-search-btn_icon {
          width: 24px;
          height: 24px;

          svg {
            height: 24px;
            width: 24px;
            fill: var(--color-white);
          }
        }
      }

      .custom-aws-clear {
        position: absolute;
        top: 0;
        right: 0;
        display: flex !important;
        align-items: center;
        justify-content: center;
        max-height: 100%;
        height: 100%;
        width: 38px;
        z-index: 9999;
        pointer-events: auto !important;
        cursor: pointer;
        padding: 0;
        font-size: 28px !important;
        color: var(--gray-light);
        background: transparent;
      }

      .aws-search-field {
        width: 100%;
        height: 100%;
        max-width: unset;
        color: var(--color-base);
        font-family: var(--fm-base);
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0;
        vertical-align: middle;

        &::placeholder {
          color: var(--gray-light);
          font-family: var(--fm-base);
          font-weight: 500;
          font-size: 16px;
          line-height: 120%;
          letter-spacing: 0;
          vertical-align: middle;
        }
      }
    }
  }

  .aws-wrapper {
    flex: 1;
    height: 100%;
    position: relative;
  }

  .header-search-button {
    position: absolute;
    right: 5px;
    width: 48px;
    height: 48px;
    transform: translate(0, 0);
    display: flex;
    align-items: center;
    justify-content: center;

    @include down(#{$bp-xs}) {
      right: 0;
    }

    &:before {
      content: '';
      background: url('../image/stroke-white.svg') no-repeat ;
      background-size: cover;
    }

    .search-icon {
      background: url('../image/search-white.svg') no-repeat center;
    }
  }
}

.aws-container {
  .aws-search-form {
    background: transparent;

    &.aws-show-clear {
      &.aws-form-active {
        .aws-search-clear {
          display: none !important;
        }
      }
    }
    .aws-form-btn {
      display: none;
    }
  }
}

.aws_result_scroll {
  .aws_result_inner {
    padding: 0 20px;
  }

  scrollbar-width: thin;
  scrollbar-color: var(--brand-green-prymary) transparent;

  &::-webkit-scrollbar {
    width: 4px !important;
  }

  &::-webkit-scrollbar-track {
    background: transparent !important;
    min-height: 82px;
  }

  &::-webkit-scrollbar-thumb {
    background: #D9D9D9 !important;
    border-radius: 100px;
    min-height: 82px;
  }

  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-button:vertical:start:decrement,
  &::-webkit-scrollbar-button:vertical:end:increment {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
  }
}

.aws-form-active {
  z-index: 2000;
}

.aws-search-result {
  line-height: normal;
  margin-top: 5px;
  border-top: 2px solid var(--brand-orange) !important;
  border-bottom: 2px solid var(--brand-orange) !important;
  border-left: 4px solid var(--brand-orange) !important;
  border-right: 5px solid var(--brand-orange) !important;
  border-radius: 10px 15px 30px 15px !important;
  overflow: hidden;

  &:focus-visible {
    z-index: 2000;
  }

  .aws_results {
    .aws_result_item {
      border-bottom: unset;
      padding: 16px 0;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: url("../image/dots_line.png") no-repeat;
        background-size: cover;
      }
    }
  }

  .aws_result_image {
    img {
      width: 140px;
      padding: unset;

      @include down(#{$bp-md}) {
        width: 80px;
      }
    }
  }

  .aws_result_content {
    .aws_result_head {
      max-width: 90%;
      align-items: center;
      margin-bottom: 8px;
    }
  }

  .aws_result_title {
    font-family: var(--fm-medium);
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0;
    vertical-align: middle;
    color: var(--color-base);

    @include down(#{$bp-md}) {
      margin-bottom: 8px;
    }
  }

  .aws_result_excerpt {
    font-family: var(--fm-base);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0;
    vertical-align: middle;
    color: var(--color-gray);
  }

  .aws_result_price {

    @include down(#{$bp-md}) {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    del {
      text-decoration: none !important;
      padding: 0 6px;
      white-space: nowrap;

      & > span {
        font-family: var(--fm-base);
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0;
        vertical-align: middle;
        text-decoration: line-through;
        color: #747474;
      }
    }

    ins {
      text-decoration: none;
      padding: unset;
      white-space: nowrap;

      & > span {
        font-family: var(--fm-heading);
        font-weight: 400;
        font-size: 44px;
        line-height: 110.00000000000001%;
        letter-spacing: 0;
        vertical-align: middle;
        color: var(--brand-orange);
      }
    }
  }

  .aws_result_sale {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 48px;
    position: absolute;
    top: 16px;
    right: 0;
    float: unset;
    text-align: unset;
    padding-top: unset;

    @include down(#{$bp-xs}) {
      width: 35px;
      height: 26px;
      left: 50px;
      right: auto;
    }
  }

  .aws_onsale {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    color: transparent;
    background: unset;
    width: 100%;
    height: 100%;
    transform: unset;
    position: relative;
    top: 0;
    right: 0;
    float: unset;
    text-align: unset;
    padding-top: unset;

    &::before {
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      background: url('../image/sale.svg') no-repeat center;
      background-size: contain;
    }
  }

  .aws_result_item {
    &:hover {
      background: unset;

      .aws_result_title {
        color: var(--brand-green-dark);
      }
    }

    &.aws_search_more {
      margin: 15px auto !important;
      padding: unset;
      position: relative;
      display: flex !important;
      align-items: center;
      justify-content: center;
      gap: 12px;
      background: url("../image/stroke-search.svg") no-repeat;
      background-size: cover;
      width: 215px;
      max-width: 215px;
      height: 64px;
      color: var(--brand-secondary);
      font-family: var(--fm-base);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 19.2px */



      &:after {
        position: relative;
        content: "";
        display: block;
        flex: 0 0 15px;

        width: 11px;
        height: 11px;

        background: url("../image/search-arrow.svg") no-repeat center;
        background-size: contain;
      }
    }
  }

  .screen-reader-text {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}


