.banner-wrap {
  position: relative;
  width: 100%;
  height: auto;
  background: var(--brand-green-prymary);
  padding-top: 20px;

  &::after {
    content: '';
    background: url("../image/Клітинка (під банером).png") no-repeat center bottom;
    background-size: cover;
    width: 100%;
    height: 80px;
    position: absolute;
    left: 0;
    bottom: -90px;
    z-index: -1;

    @include down(#{$bp-lg}) {
      height: 60px;
      bottom: -70px;
    }
  }

  @include down(#{$bp-xxs}) {
    padding-top: 7px;
  }
}

.banner {
  position: relative;
  width: 100%;
  height: auto;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 100%;
    height: 20px;
    background: url("../image/Нижня лінія.png") no-repeat center bottom;
    background-size: cover;
    z-index: 1;
    pointer-events: none;
  }

  @include down(#{$bp-xxs}) {
    background: url('../image/Baner.png') no-repeat 50% 0;
    background-size: auto 98%;
    padding: 2px 0;
  }
}

.promo-slider-wrap {
  width: 100%;
  height: auto;
  background: url('../image/Baner.png') no-repeat 50% 0;
  background-size: 100% 100%;

  @include down(#{$bp-xs}) {
    background-size: 100% 98%;
  }

  @include down(#{$bp-xxs}) {
    background: unset;
    background-size: 0;
  }
}

.promo-slider-holder {
  position: relative;
  margin: 0 0 -43px;

  @include down(#{$bp-xxs}) {
    margin: 0 0 -55px;
  }
}

.promo-slider {
  width: 100%;
  height: auto;
  position: relative;

  .slick-arrow,
  .slick-dots li button{
     &:before {
       content: "";
     }
  }

  .slick-next,
  .slick-prev {
    &:hover {
      &:after {
        transform: rotate(180deg);
      }
    }
  }

  .slick-arrow {
    background: url('../image/arrow-red-slider.svg') no-repeat center center;
    width: 49px;
    height: 49px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &.slick-next {
      background: url('../image/arrow-left-slider.svg') no-repeat center center;
    }

    &:before {
      content: "";
      background: url('../image/v-line.svg') no-repeat;
      width: 4px;
      height: 243px;
      position: absolute;
      left: 50%;
      top: 65%;
      margin: -128px 0 0 -1px;
    }

    &:after {
      content: "";
      background: url('../image/arrow-stroke.svg') no-repeat;
      background-size: contain;
      display: inline-block;
      position: absolute;
      width: 49px;
      height: 49px;
      transition: transform 0.3s ease-in-out;
    }

    @include down(#{$bp-md}) {
      display: none !important;
    }
  }

  .slick-prev {
    left: 190px;

    @include down(#{$bp-xxl}) {
      left: 120px;
    }

    @include down(#{$bp-lg}) {
      left: 100px;
    }
  }

  .slick-next {
    right: 190px;

    @include down(#{$bp-xxl}) {
      right: 120px;
    }

    @include down(#{$bp-lg}) {
      right: 100px;
    }
  }

  .slick-list {
    padding: 15px 240px 10px 240px;

    @include down(#{$bp-xxl}) {
      padding: 15px 140px 7px 140px;
    }

    @include down(#{$bp-lg}) {
      padding: 15px 140px 7px 140px;
    }

    @include down(#{$bp-md}) {
      padding: 15px 100px 7px 100px;
    }

    @include down(#{$bp-xmd}) {
      padding: 8px 80px 3px 80px;
    }

    @include down(#{$bp-xs}) {
      padding: 7px 70px 3px 70px;
    }

    @include down(#{$bp-xxs}) {
      padding: 0;
    }
  }

  .slick-dots {
    height: auto;
    position: relative;
    top: 50px;
    bottom: auto;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    li {
      width: 8px;
      height: 8px;
      margin: 0;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        width: 8px;
        height: 8px;

        padding: unset;
        &::before {
          content: unset;
        }
      }
    }

    @include down(#{$bp-lg}) {
      top: 40px;
    }

  }

  .item {
    height: 368px;
    float: left;

    @include down(#{$bp-lg}) {
       height: 300px;
    }

    @include down(#{$bp-md}) {
      height: auto;
      width: 100%;
    }

    @include down(#{$bp-xs}) {
      height: auto;
      width: 100%;
    }

    img {
      max-height: 100%;
      width: auto;
    }
  }
}

.slick-dotted {
  &.promo-slider {
    margin-bottom: 57px;
  }
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

  li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;

    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 8px;
      height: 8px;
      cursor: pointer;
      color: transparent;
      border: 2px solid var(--brand-green-prymary);
      border-radius: 50%;
      outline: none;
      background: transparent;

      &:hover,
      &:focus {
        outline: none;

        &::before {
          opacity: 1;
        }
      }

      &::before {
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: "•";
        text-align: center;
        opacity: 0.25;
        color: black;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    &.slick-active {
      button {
        border: 2px solid var(--brand-orange);
        background:  var(--brand-orange);
      }
    }
  }
}
