.slider {
  .slick-slide {
    &:hover {
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
    }
  }
}

.slick-dotted {
  &.promo-slider {
    margin-bottom: 0;
  }
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

  li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;

    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 8px;
      height: 8px;
      cursor: pointer;
      color: transparent;
      border: 2px solid var(--brand-green-prymary);
      border-radius: 50%;
      outline: none;
      background: transparent;

      &:hover,
      &:focus {
        outline: none;

        &::before {
          opacity: 1;
        }
      }

      &::before {
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: "•";
        text-align: center;
        opacity: 0.25;
        color: black;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    &.slick-active {
      button {
        border: 2px solid var(--brand-orange);
        background:  var(--brand-orange);
      }
    }
  }
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;

  .slick-track,
  .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;

  img {
    display: block;
    margin: 0 auto;
  }

  &.slick-loading {
    img {
      display: none;
    }
  }

  &.dragging {
    img {
      pointer-events: none;
    }
  }

  &:hover,
  &:active,
  &:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }

  a {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;

    &:hover,
    &:focus,
    &:active {
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
    }
  }

}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
  }
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;

  &::before {
    display: table;
    content: "";
  }

  &::after {
    display: table;
    content: "";
    clear: both;
  }
}

.slick-loading {
  .slick-track {
    visibility: hidden;
  }

  .slick-slide {
    visibility: hidden;
  }

  .slick-list {
    background: #fff url("../image/ajax-loader.gif") center center no-repeat;
  }
}

.slick-initialized {
  .slick-slide {
    display: block;
  }
}

.slick-vertical {
  .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow {
  &.slick-hidden {
    display: none;
  }
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;

  &::before,
  &::after {
    opacity: 1;
  }
}

[dir="rtl"] {
  .slick-slide {
    float: right;
  }
}

////////////////////////////////////

.banner-wrap {
  position: relative;
  width: 100%;
  height: auto;
  background: var(--brand-green-light);
  z-index: 50;

  @include down(#{$bp-lg}) {
    padding-top: 10px;
    z-index: 20;
  }
}

.banner {
  position: relative;
  width: 100%;
  height: auto;

  @include down(#{$bp-xxs}) {
    background: url('../image/mob-banner.svg') no-repeat 50% 0;
    background-size: auto 100%;
    padding: 8px 0 5px;
  }

  .container {
    @include down(#{$bp-xxs}) {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.green-line-banner {
  position: relative;
  top: -10px;
  width: 100%;
  height: 35px;
  background: url("../image/green-line-banner.svg") repeat center bottom;
  z-index: -1;

  @include down(#{$bp-lg}) {
    height: 25px;
  }
}

.bottom-line-cell {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  z-index: -5;
  pointer-events: none;
  overflow: hidden;

  .line-cell {
    position: relative;
    width: 2560px;
    height: 80px;
    background: url("../image/bottom-line-cell.svg") no-repeat center bottom;
    background-size: cover;

    @include down(#{$bp-xs}) {
      height: 60px;
    }
  }
}

/////////////////////////////////////

.promo-slider-wrap {
  width: 100%;
  height: auto;

  @include down(#{$bp-xlg}) {
    background: url('../image/banner.png') no-repeat 50% 0;
    background-size: 100% 100%;
  }

  @include down(#{$bp-xxs}) {
    background: unset;
    background-size: 0;
    padding: 3px 0;
  }
}

.promo-slider-holder {
  width: 100%;
  position: relative;
  background: url('../image/banner.svg') no-repeat 50% 0;
  background-size: 100% auto;
  padding: 17px;

  @include down(#{$bp-xxl}) {
    padding: 15px;
  }

  @include down(#{$bp-xlg}) {
    background: unset;
    background-size: 0;
  }

  @include down(#{$bp-xlg}) {
    padding: 13px 13px 5px;
  }

  @include down(#{$bp-xs}) {
    padding: 10px 13px 5px;
  }

  @include down(#{$bp-xxs}) {
    padding: 4px 0 1px;
  }
}

.promo-slider {
  width: 100%;
  height: auto;
  position: relative;

  .slick-arrow,
  .slick-dots li button{
     &:before {
       content: "";
     }
  }

  .slick-next,
  .slick-prev {
    &:hover {
      &:after {
        transform: rotate(180deg);
      }
    }
  }

  .slick-arrow {
    background: url('../image/arrow-red-slider.svg') no-repeat center center;
    background-size: 21px 15px;
    width: 50px;
    height: 50px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &.slick-next {
      background: url('../image/arrow-left-slider.svg') no-repeat center center;
      background-size: 21px 15px;
    }

    &:before {
      content: "";
      background: url('../image/v-line.svg') no-repeat;
      width: 4px;
      height: 243px;
      position: absolute;
      left: 50%;
      top: 65%;
      margin: -128px 0 0 -1px;
    }

    &:after {
      content: "";
      background: url('../image/arrow-stroke.svg') no-repeat;
      background-size: contain;
      display: inline-block;
      position: absolute;
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease-in-out;
    }

    @include down(#{$bp-md}) {
      display: none !important;
    }
  }

  .slick-prev {
    left: 170px;

    @include down(#{$bp-xxl}) {
      left: 140px;
    }
    @include down(#{$bp-xlg}) {
      left: 130px;
    }

    @include down(#{$bp-lg}) {
      left: 112px;
    }
  }

  .slick-next {
    right: 170px;

    @include down(#{$bp-xxl}) {
      right: 140px;
    }

    @include down(#{$bp-xlg}) {
      right: 130px;
    }

    @include down(#{$bp-lg}) {
      right: 112px;
    }
  }

  .slick-list {
    padding: 0 245px;

    @include down(#{$bp-xxl}) {
      padding: 0 130px;
    }

    @include down(#{$bp-xlg}) {
      padding: 0 75px;
    }

    @include down(#{$bp-xs}) {
      padding: 0 50px;
    }

    @include down(#{$bp-xxs}) {
      padding: 0;
    }
  }

  .slick-dots {
    height: auto;
    position: relative;
    top: 76px;
    bottom: auto;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    @include up(2100px ) {
      top: 76px;
    }

    @include down(#{$bp-xlg}) {
      top: 65px;
    }

    @include down(#{$bp-lg}) {
      top: 55px;
    }

    @include down(#{$bp-xs}) {
      top: 43px;
    }

    @include down(#{$bp-xxs}) {
      top: 49px;
    }

    li {
      width: 8px;
      height: 8px;
      margin: 0;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      @include down(#{$bp-xs}) {
        width: 6px;
        height: 6px;
      }

      button {
        width: 8px;
        height: 8px;
        padding: unset;

        @include down(#{$bp-xs}) {
          width: 6px;
          height: 6px;
        }

        &::before {
          content: unset;
        }
      }
    }


  }

  .item {
    height: 370px;
    width: 806px;
    float: left;

    @include down(#{$bp-xxl}) {
       height: 317px;
    }

    @include down(#{$bp-xlg}) {
      height: 250px;
      width: auto;
    }

    @include down(#{$bp-lg}) {
      height: 270px;
      width: auto;
    }

    @include down(#{$bp-md}) {
      height: 230px;
      width: auto;
    }

    @include down(#{$bp-xs}) {
      height: 170px;
    }

    @include down(#{$bp-xxs}) {
      width: 100%;
      height: auto;

      img {
        width: 100%;
        height: auto;
      }
    }

    img {
      max-height: 100%;
      width: auto;
    }
  }
}

/////////////////////////////////

.new-product,
.recommendations {
  position: relative;
  padding-bottom: 89px;
  width: 100%;
  @include flex-column;
  gap: 30px;

  @include down(#{$bp-xlg}) {
    @include flex-column;
    gap: 40px;
    padding-bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    left: 25px;
    right: 25px;
    top: 0;
    height: 50%;
    background: url('../image/top-line-dash.svg') no-repeat center 35px;
    background-size: 100%;
    z-index: -1;

    @include down(#{$bp-xlg}) {
      content: unset;
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 25px;
    right: 25px;
    bottom: 0;
    height: 50%;
    background: url('../image/bottom-line-dash.svg') no-repeat center bottom;
    background-size: 100%;
    z-index: -1;

    @include down(#{$bp-xlg}) {
      content: unset;
    }
  }

  h2 {
    font-family: var(--fm-heading);
    font-weight: 400;
    font-size: 70px;
    line-height: 75px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    position: relative;
    overflow-wrap: break-word; /* Розриває занадто довгі слова, якщо вони не вміщаються */
    word-wrap: break-word;     /* Застарілий синтаксис для сумісності зі старими браузерами */
    word-break: normal;

    &::after {
      content: '';
      position: absolute;
      right: 223px;
      top: 5px;
      height: 34px;
      width: 50px;
      background: url('../image/worm.svg') no-repeat center;
      background-size: contain;
      z-index: 1;
      -webkit-animation: worm_book 0.9s 0.3s ease-in forwards;
      -moz-animation: worm_book 0.9s 0.3s ease-in forwards;
      animation: worm_book 0.9s 0.3s ease-in forwards;


      @include down(#{$bp-xlg}) {
        content: unset;
      }
    }

    @include down(#{$bp-xlg}) {
      margin: 0 70px;
      horiz-align: center;
      top: 0;
    }

    @include down(#{$bp-xs}) {
      font-size: 42px;
      line-height: 32px;
      horiz-align: center;
    }
  }

  .so_product-link {
    @include flex-column;
    gap: 24px;
    position: relative;
  }

  .slider {
    margin: 0 75px;

    @include down(#{$bp-xlg}) {
      padding-bottom: 0;
    }

    @include down(#{$bp-md}) {
      margin: 0 0;
    }

    @include down(#{$bp-xxs}) {
      margin: 0 0;
    }
  }

  .slick-arrow {
    width: 50px;
    height: 50px;
    z-index: 1;
    @include flex-center;
    background: url('../image/arrow-red-slider.svg') no-repeat center center;
    background-size: 26px 17px;


    &.slick-next {
      background: url('../image/arrow-left-slider.svg') no-repeat center center;
      background-size: 26px 17px;
      right: -70px;

      @include down(#{$bp-xlg}) {
        top: -75px;
      }

      @include down(#{$bp-md}) {
        right: 0;
        background: url('../image/mob-arrow-right.svg') no-repeat center center;
        background-size: contain;

        &::after {
          content: unset;
        }
      }

      @include down(#{$bp-xs}) {
        right: 0;
        top: -55px;
      }

      @include down(#{$bp-xsl}) {
        top: -75px;
      }

      &::before {
        content: unset;
      }
    }

    &.slick-prev {
      left: -70px;

      @include down(#{$bp-xlg}) {
        top: -75px;
      }

      @include down(#{$bp-md}) {
        left: 0;
        background: url('../image/mob-arrow-left.svg') no-repeat center center;
        background-size: contain;

        &::after {
          content: unset;
        }
      }

      @include down(#{$bp-xs}) {
        left: 0;
        top: -55px;
      }

      @include down(#{$bp-xsl}) {
        top: -75px;
      }

      &::before {
        content: unset;
      }
    }

    &:after {
      content: "";
      background: url('../image/color-stroke.svg') no-repeat;
      background-size: contain;
      display: inline-block;
      position: absolute;
      width: 72px;
      height: 72px;
      transition: transform 0.3s ease-in-out;

      @include down(#{$bp-md}) {
        width: 50px;
        height: 50px;
      }

      @include down(#{$bp-xs}) {
        background: url('../image/mob-stroke-button.png') no-repeat;
        width: 40px;
        height: 40px;
      }
    }

    @include down(#{$bp-lg}) {
      top: -75px;
    }

    @include down(#{$bp-md}) {
      width: 40px;
      height: 40px;
    }

    @include down(#{$bp-xs}) {
      top: -55px;
    }

    @include down(#{$bp-xsl}) {
      top: -65px;
    }
  }

  .slick-next,
  .slick-prev {
    top: calc(50% + 15px);

    @include down(#{$bp-md}) {
      background-size: 19px 14px;
    }

    &::before,
    &::after {
      opacity: 1;
    }

    &:hover {
      &:after {
        transform: rotate(180deg);
        background-size: cover;
      }
    }
  }

  .item {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 25px;

    @include down(#{$bp-xxs}) {
      padding-bottom: 5px;
    }
  }
}

@keyframes worm_book {
  0% {
    top: -40px;
  }
  100% {
    top: 5px;
  }
}

.recommendations {
  h2 {
    &:after {
      content: unset !important;
    }
  }
}

.preparing-slider {
  position: relative;
  background-image: url('../image/stroke-preparing.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  @include flex-center;
  width: 100%;
  padding-bottom: 76px;

  @include down(#{$bp-lg}) {
    background: unset;
    padding-bottom: 0;
  }

  @include down(#{$bp-xs}) {
    padding-bottom: 0;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
  }

  .bg-preparing-wrap {
    display: none;
  }

  &.has-two-slides {
    @include up(#{$bp-xs}) {
      .slick-track {
        width: 100% !important;
      }
    }
  }

  h2 {
    font-family: var(--fm-heading);
    font-weight: 400;
    font-size: 70px;
    line-height: 75px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: -35px;
    overflow-wrap: break-word; /* Розриває занадто довгі слова, якщо вони не вміщаються */
    word-wrap: break-word;     /* Застарілий синтаксис для сумісності зі старими браузерами */
    word-break: normal;

    @include down(#{$bp-lg}) {
      margin: 0 50px;
      horiz-align: center;
      top: 0;
    }

    @include down(#{$bp-xs}) {
      font-size: 42px;
      line-height: 32px;
      horiz-align: center;
    }
  }

  .slider {

    @include down(#{$bp-xmd}) {
      top: unset;
    }
  }

  .slick-list {
    width: 100%;
    overflow: hidden;
  }

  .slick-track {
    display: flex;
    margin: 0;

    &:has(> :nth-child(2)):not(:has(> :nth-child(4))) {

    }

    @include down(#{$bp-xxl}) {
      gap: unset;
    }
  }

  .slick-slide {
    height: auto;
    width: auto;
  }

  .slick-arrow {
    width: 50px;
    height: 50px;
    z-index: 1;
    @include flex-center;
    background: url('../image/arrow-red-slider.svg') no-repeat center center;

    @include down(#{$bp-xs}) {
      width: 40px;
      height: 40px;
    }


    &.slick-next {
      background: url('../image/arrow-left-slider.svg') no-repeat center center;
      right: -70px;

      @include down(#{$bp-md}) {
        right: 0;
        background: url('../image/mob-arrow-right.svg') no-repeat center center;
        background-size: contain;

        &::after {
          content: unset;
        }
      }

      @include down(#{$bp-xs}) {
        right: 0;
      }

      &::before {
        content: unset;
      }
    }

    &.slick-prev {
      left: -70px;

      @include down(#{$bp-md}) {
        left: 0;
        background: url('../image/mob-arrow-left.svg') no-repeat center center;
        background-size: contain;

        &::after {
          content: unset;
        }
      }

      @include down(#{$bp-xs}) {
        left: 0;
      }

      &::before {
        content: unset;
      }
    }

    &:after {
      content: "";
      background: url('../image/color-stroke.svg') no-repeat;
      background-size: cover;
      display: inline-block;
      position: absolute;
      width: 72px;
      height: 72px;
      transition: transform 0.3s ease-in-out;

      @include down(#{$bp-md}) {
        width: 50px;
        height: 50px;
      }

      @include down(#{$bp-xs}) {
        background: url('../image/mob-stroke-button.png') no-repeat;
        width: 40px;
        height: 40px;
      }
    }

    @include down(#{$bp-lg}) {
      top: -75px;
    }

    @include down(#{$bp-xs}) {
      top: -55px;
    }

    @include down(#{$bp-xsl}) {
      top: -55px;
    }
  }

  .slick-next,
  .slick-prev {
    @include down(#{$bp-md}) {
      background-size: 19px 14px;
    }

    &:hover {
      &:after {
        transform: rotate(180deg);
        background-size: cover;
      }
    }
  }

  .item {
    width: auto;
    position: relative;
    display: flex !important;
    align-items: start;
    justify-content: center;
    z-index: 5;
    margin-top: 23px;

    h3 {
      text-transform: unset;
    }

    .product-card{
      @include down(#{$bp-xs}) {
          width: 152px;

        .img {
          width: 100%;
          height: 100%;
        }

        .sale_book {
          top: 23px;
          right: 16px;
          width: 38px;
          height: 34px;
        }

        .percent {
          font-size: 22px;
        }

        .new_book {
          width: 40px;
          height: 40px;
          right: 40px;
          top: 0;
          bottom: auto;
        }

        .preorder-book {
          top: -25px;
          left: -5px;
          width: 80px;
          height: 80px;
        }
      }
    }

  }

  .button-to-buy {
    width: 158px;
    height: 57px;
    background: url(../image/button-buy.svg) no-repeat;
    background-size: 100% 100%;
    transform: translate(0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background: url("../image/button-buy-red.svg") no-repeat;

      span {
        color: var(--color-white);
      }
    }

    @include down(#{$bp-xs}) {
      width: 150px;
      height: 54px;
      background: url(../image/button-buy.svg) no-repeat;
      background-size: contain;

      &::before {
        content: unset;
      }

      .text-block {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .arrow-preparing-up {
    display: none;
  }
}

.preparing-container {
  position: relative;
  width: 100%;
  min-width: 0;

  @include down(#{$bp-lg}) {
    padding-bottom: 0;
    gap: 40px;
  }
}

.preparing {
  margin: 0 50px;

  @include down(#{$bp-lg}) {
    margin: 0 0;
  }
}

