/**
 * ANY WEB CSS Variables
 */

$h-title-font-family:   "fregatregular", "Helvetica Neue", Arial, Helvetica, sans-serif !default;
$h2-title-font-family:  pf_playskool_proregular, sans-serif !default;
$font-weight-reg:       500 !default;

$white-color:           #ffffff   !default;
$blue-color:            #00b0a8   !default;
$light-blue-color:      rgba(149, 234, 232, 0.51) !default;
$pale-blue: rgba(198, 244, 241, 0.23) !default;
$dark-blue:             #014642 !default;

$orange-color:          #ea4f00   !default;
$coral-color:           #e6571d   !default;
$red-color:             #FF0000   !default;
$red-price-color:       #d0021b   !default;

$light-gray-color:      #def5fd   !default;
$gray-label-color:      #a5a5a5   !default;
$grey-color:            #999999   !default;
$gray-price-color:      #777777   !default;
$dark-gray:             #4e4e4e   !default;
$gray-color:            #333333   !default;
$pale-gray-color:       #FFFFFF00 !default; // rgba(255, 255, 255, 0)
$black-color:           #000000   !default;

$outline-color:         #c0cfda   !default;
$outline-color-block:   #a9adb4   !default;

$border-color:                  #bbfbf8   !default;
$border-bottom-color:           #bbfbf8   !default;
$border-top-color:              #e4e4e4   !default;
$border-section-left:           #e1e2e2   !default;
$border-products-header-bottom: #d9dee6   !default;
$border-pale-gray:              #dadada   !default;

$footer-bg:             #00b0a8 !default;
$header-bg:             #00b0a8 !default;
$table-bg:              #f2fbfe !default;

$link-color:            #028f89 !default;
$link-after:            #028f89 !default;
$link-border-bottom: #0ebeb6 !default;


$box-shadow:             #EEEEEEFF !default;
$box-shadow-tabs:        rgba(32, 54, 74, 0.23) !default;
$box-shadow-hover:       rgba(220, 216, 196, 1) !default;

$background-color:       #f3f3f3 !default;
$background-light-gray:  #ededed !default;
$background-hover:       #d3d3d3 !default;
$background-red:         #f42c2c !default;
$background-yellow:      #fba90c !default;
$background-size:        #ccf0ff !default;
$background-green:       #77a464 !default;
$background-slick-arrow: #fffcec !default;

$bg-primary:             #53a5a2 !default;
$bg-success:             #64ba4e !default;
$bg-info:                #53a5a2 !default;
$bg-warning:             #fec139 !default;
$bg-danger:              #f42c2c !default;

$btn-active:             #028f89 !default;


// export vars as CSS vars
:root {
  --aw-h-title-font-family:  #{$h-title-font-family};
  --aw-h2-title-font-family: #{$h2-title-font-family};
  --aw-font-weight-reg:      #{$font-weight-reg};
  --aw-blue:                #{$blue-color};
  --aw-light-blue-color:    #{$light-blue-color};
  --aw-pale-blue:           #{$pale-blue};
  --aw-dark-blue:           #{$dark-blue};
  --aw-orange:              #{$orange-color};
  --aw-white:               #{$white-color};
  --aw-red:                 #{$red-color};
  --aw-red-price:           #{$red-price-color};
  --aw-coral-color:         #{$coral-color};
  --aw-gray-label:          #{$gray-label-color};
  --aw-gray:                #{$gray-color};
  --aw-gray-price:          #{$gray-price-color};
  --aw-grey:                #{$grey-color};
  --aw-dark-gray:           #{$dark-gray};
  --aw-light-gray:          #{$light-gray-color};
  --aw-pale-gray:           #{$pale-gray-color};
  --aw-black:               #{$black-color};

  --aw-outline-color:       #{$outline-color};
  --aw-outline-block:       #{$outline-color-block};
  --aw-border-bottom-color: #{$border-bottom-color};
  --aw-border-top-color:    #{$border-top-color};
  --aw-border-color:        #{$border-color};
  --aw-border-pale-gray:    #{$border-pale-gray};
  --aw-border-section-left: #{$border-section-left};
  --aw-border-products-header-bottom: #{$border-products-header-bottom};

  --aw-footer-bg:           #{$footer-bg};
  --aw-header-bg:           #{$header-bg};
  --aw-table-bg:            #{$table-bg};

  --aw-box-shadow:               #{$box-shadow};
  --aw-box-shadow-tabs:          #{$box-shadow-tabs};
  --aw-box-shadow-hover:         #{$box-shadow-hover};

  --aw-background-color:         #{$background-color};
  --aw-background-light-gray:    #{$background-light-gray};
  --aw-background-hover:         #{$background-hover};
  --aw-background-red:           #{$background-red};
  --aw-background-yellow:        #{$background-yellow};
  --aw-background-green:         #{$background-green};
  --aw-background-size:          #{#background-size};
  --aw-background-slick-arrow:   #{$background-slick-arrow};

  --aw-bg-primary:               #{$bg-primary};
  --aw-bg-success:               #{$bg-success};
  --aw-bg-info:                  #{$bg-info};
  --aw-bg-warning:               #{$bg-warning};
  --aw-bg-danger:                #{$bg-danger};
  --aw-bg-error:                 #{$bg-danger};

  --aw-link-color:               #{$link-color};
  --aw-link-after:               #{$link-after};
  --aw-link-border-bottom:       #{$link-border-bottom};

  --aw-btn-active:               #{$btn-active};

}